[2019-10-12 11:27] dataf3l commented on #954
I've compiled the differences between the variables related to netrw here, from vim (where it works) and macvim (where it doesn't):

it looks like the difference might be related to how these variables are handled, but no amount of changing the variables lead to the right behaviour:

let g:netrw_liststyle=1
let g:netrw_sort_direction='n'
let g:netrw_ftp_list_cmd='/bin/ls'

these vars WORK:

[code]

[2019-10-12 11:47] dataf3l commented on #954
It's not just the settings, apparently, after more digging, macvim's /vim/runtime/autoload/netrw.vim and vim's own /usr/share/vim/vim80/netrw.vim have different versions (165 and 162) and are different files, unfortunately. this means just changing a setting won't fix it.

[2019-10-13 08:18] taiyangc commented on #952
`brew install macvim --HEAD` does not work for me:

[code]

[2019-10-13 10:35] eirnym commented on #954
@dataf3l Thank you for an issue

Please, report this issue to [upstream](https://github.com/vim/vim).

[2019-10-13 10:37] eirnym commented on #954
@dataf3l have you tried terminal version of MacVim? If you can replicate it in it, it's problem of the upstream or outdated base here.

[2019-10-14 09:04] skyksandr commented on #949
As a workaround I `set linespace=-1`

[2019-10-14 10:03] eirnym commented on #949
@9mm Thank you for sharing screenshots.

You use modified `Anonymous Pro` font, and I don't except the external modification will preserve same quality as `Anonymous Pro` itself.

I installed the font and tested it:
* Powerline/AirLine symbols are not provided by this font
* Linespace between size 12 (and below) and 13 (and above) is different.
* Japanese symbols are not shown with sizes below 12

[2019-10-14 15:06] isaki opened #955 "Graphical rendering issue on 10.15 (Catalina)"
**Describe the bug**
Characters such as 'j' and 'g' have their bottoms cut off on MacOS Catalina.

**To Reproduce**
1. Run gvim from the command line.
2. Start typing.

**Expected behavior**
I expect my fonts to be readable.

**Screenshots**
![image](https://user-images.githubusercontent.com/10616227/66761795-b7de6a80-ee72-11e9-9f00-12fe9fe30064.png)

**Environment (please complete the following i

[2019-10-14 15:19] 9mm commented on #949
@eirnym the font itself shouldn't have changed with the added powerline symbols. I tested here with both fonts, and you can use photoshop to verify they're identical, so the difference came from macvim/vim (installing old macvim with same powerline font works how it should)

both fonts identical:
<img width="954" alt="Screen Shot 2019-10-14 at 8 03 41 AM" src="https://user-images.githubusercontent

[2019-10-14 17:18] hoke-t commented on #905
Any updates on this?

[2019-10-14 17:24] eirnym commented on #955
@isaki Thank you for an issue,

There's an [issue](#949) for this already, please, write your experience there

[2019-10-14 17:34] eirnym commented on #949
@9mm I've tried a few fonts from that repo (if we speak about the same mod repo), but fonts there in general seems to be very outdated for a few releases at least and some parameters were altered (like linespacing for some fonts). So yes, general symbols might not be changed, but other parameters and symbols might not be the same.

Thus I've found a font with these symbols and which support a few

[2019-10-14 19:35] 9mm commented on #949
Sorry, maybe were not talking about the same thing. I was basically wondering what in macvim/vim changed for my fonts to be so different (it's not related to the 'with powerline' modification of the font because i've used the same font for 5 years or so). You may be correct that it modifies/ruins the font, but I haven't noticed any changes besides what is caused by the `--HEAD` version of vim.

Wi

[2019-10-14 21:04] isaki commented on #955
#949 does not appear to be directly related. #905 looks to be exactly this issue. I'll close this ticket and watch that ticket.

[2019-10-14 21:04] #955 closed

[2019-10-14 21:12] isaki commented on #905
As per @eirnym, I am posting this here and closing my issue.

I can confirm this is still an issue after the weekend.

I am running the latest release:
![image](https://user-images.githubusercontent.com/10616227/66783245-83d06d00-eea5-11e9-8755-d4b6f0ac5afa.png)

And can confirm fonts still look strange:
![image](https://user-images.githubusercontent.com/10616227/66783290-9c408780-eea5-11e9-8dec-6

[2019-10-15 07:59] eirnym commented on #905
@isaki Thank you for an addition, Please, write which distribution of MacVim do you use (e.g. GitHub, Homebrew, MacPorts, etc) and which font are you using

[2019-10-15 08:29] eirnym commented on #949
I use the same build from GitHub (as I used on 10.14) and in my case nothing has been changed. For my font build from the `HEAD` changes nothing as well.

Underneath MacVim uses `NSTextView` which may changed font processing somehow (e.g. use some font parameters not used before or use them differently).

[2019-10-15 08:30] eirnym commented on #949
Your font looks better with `HEAD` and I hope these changes will be released as soon as possible (see #905 for details)

<img width="844" alt="Zrzut ekranu 2019-10-15 o 10 28 28" src="https://user-images.githubusercontent.com/485399/66814348-c1310b00-ef36-11e9-858d-a13403f38939.png">
<img width="963" alt="Zrzut ekranu 2019-10-15 o 10 28 40" src="https://user-images.githubusercontent.com/485399/668

[2019-10-15 10:43] tobireif commented on #905
Here it fixes it temporarily for that one buffer/window, but not permanently.

(I'm using the distribution from https://github.com/macvim-dev/macvim/releases plus auto-updates.)

`:set guifont?` says `guifont=Menlo:h16`

[2019-10-15 14:57] hoke-t commented on #905
I have the exact issue as well. I always have to increase and then decrease the font size upon opening a file to fix the clipping.

Using macOS 10.15 build version 19A583, Homebrew distribution of MacVim, and `set guifont?` gives `guifont=Menlo-Regular:h11`.

[2019-10-15 15:10] isaki commented on #905
@eirnym I am using the GitHub distribution of MacVim.

I apparently have no font set once so ever:
![image](https://user-images.githubusercontent.com/10616227/66844371-36530f00-ef3c-11e9-9c0f-47e4bfb05272.png)

Also, commands are also being chopped off:
![image](https://user-images.githubusercontent.com/10616227/66844443-4e2a9300-ef3c-11e9-8318-6e9c13d32bc5.png)

Finally, this is the font setup th

[2019-10-15 18:35] eirnym commented on #905
Thank you, this is fixed in `HEAD`. So I hope @ychin will find the time to prepare a release.

[2019-10-16 11:15] JezuzStardust commented on #953
@eirnyum, I am a bit new here and I am not sure how things work. However, it seems like there is now a fix in the latest commit on Master on Vim/Vim. Should I reopen this to make sure that that commit is pulled into macvim or will that happen automatically later when this is updated? I.e. is macvim built on the latest master of vim or does it have its own branch?

[2019-10-16 15:28] ychin commented on #928
The issue should be fixed now, I think. Let's me know if you see any issues @chdiza since I couldn't quite repro it myself.

[2019-10-16 18:15] eirnym commented on #953
Periodically changes from upstream are manually merged to `MacVim`, and it may happen that exactly these changes won't be included into the nearest release (which was already out).

[2019-10-16 18:17] eirnym commented on #934
@ychin Could you mark beta releases as `158-b1` or something like this to eliminate this issue in the future?

[2019-10-16 23:10] rr0ss0rr commented on #952
Can someone place a working version in homebrew?

Thanks

[2019-10-17 02:22] jimsiff commented on #905
Thank you @eirnym and @ychin.  It's fixed for me after building 8.1.2102 on Catalina.

[2019-10-17 02:58] lipeng1667 commented on #947
YES, `brew unlink macvim` and `brew install macvim --HEAD` works for me !

[2019-10-17 06:42] ychin commented on #953
I'm still in the middle of releasing snapshot-158. Since this bug seems like a relatively annoying issue for Catalina, I will just make a new release for it with the latest changes and skipping snapshot-158 and go to snapshot-159. (Not going to rebase and re-tag the commits since last time I did that it screwed up Homebrew)

[2019-10-17 07:44] zxdposter opened #958 "Cannot use vim-plug"
Macvim cannot use vim-plug

**Describe the bug**
line    1:
E117: Unknown function: plug#begin
line    4:
E492: Not an editor command: Plug 'bling/vim-airline'
line    5:
E492: Not an editor command: Plug 'vim-airline/vim-airline-themes'
line    9:
E117: Unknown function: plug#end

**Environment (please complete the following information):**
 - Vim version [e.g. 8.1.1234] (Or paste the result of `

[2019-10-17 07:49] eirnym commented on #953
@ychin you can disable the default `tagbsearch` as a workaround and release `158`.

[2019-10-17 07:57] eirnym commented on #958
@zxdposter thank you for an issue.

As per description I can't say that it is MacVim's fault or not. Could you share more information on the problem?
* Which build do you use? from GitHub, from Homebrew, from MacPorts, etc
* Does it work on Terminal and GUI versions?
* Could you share your `vimrc` or minimal example which doesn't work?
* Could you please be sure that vim-plug has been installed pr

[2019-10-17 08:01] eirnym commented on #954
as per discussion in upstream (vim/vim#5047) the problem is `netrw` plugin, not in MacVim.

[2019-10-17 08:07] eirnym commented on #930
@ychin Sparkle 1.22.0 is out.

[2019-10-17 08:22] zxdposter commented on #958
@eirnym
My version is 8.1.2168
![image](https://user-images.githubusercontent.com/13846260/66990799-727f9e80-f0f9-11e9-8a6b-92f32d725fd9.png)

Homebrew

It work in Terminal, not work on GUI version

`ln -s ~/.config/nvim/init.vim ~/.vimrc`

~/.config/nvim/init.vim

[code]
~/.config/nvim/rc/1-plugins.vim
[code]

plug.vim path is ~/.local/share/nvim/site/autoload/plug.vim
Maybe plug.vim path is not

[2019-10-17 08:37] zxdposter commented on #958
Alreay known, I put plug.vim wrong path, sorry to bother you.

[2019-10-17 08:37] #958 closed

[2019-10-17 09:04] eirnym commented on #958
BTW, I use auto install script for `vim-plug`:

[code]

[2019-10-17 09:24] mvcouwen commented on #933
I’d rather have an option to give the title bar a modern look similar to the ‘minimal’ look for iterm2. This look is based the appearance of Electron apps (https://www.iterm2.com/documentation-preferences-appearance.html). In my opinion this as useful as the titlebar but less distracting. Ofcourse having an option to completely remove the titlebar would already be a good first step.

[2019-10-17 09:43] eirnym commented on #933
@mvcouwen Could you add some screenshots for your idea? Could you also check if it already implemented (`:help macvim`)?

[2019-10-17 09:53] ychin commented on #947
New release just came out (https://github.com/macvim-dev/macvim/releases/tag/snapshot-159). Let me know if it works. It may take a short while to have Homebrew update to 159 as well. You can use this badge to check: [![Homebrew package](https://repology.org/badge/version-for-repo/homebrew/macvim.svg)](https://repology.org/metapackage/macvim/versions) (Copied from README.md)

[2019-10-17 09:54] ychin commented on #905
This should be fixed in snapshot-159. Let me know if it isn't.

[2019-10-17 09:54] #905 closed

[2019-10-17 09:55] ychin commented on #949
The new release should have fixed it. Let me know if it doesn't work and I'll see if there are other reasons why it doesn't look right @9mm .

[2019-10-17 09:58] ychin commented on #934
@9mm snapshot 159 is released now. Homebrew should be updated shortly.

[2019-10-17 10:02] henryiii commented on #947
Made the PR: https://github.com/Homebrew/homebrew-core/pull/45454

[2019-10-17 10:25] mvcouwen commented on #947
New PR for snapshot 159 by @henryiii : Homebrew/homebrew-core#45455

[2019-10-17 10:49] mvcouwen commented on #933
Sure!

See e.g. this screenshot
![this](https://images.ctfassets.net/ibq1vhkmncem/3vGKv92ZFY0cw8oe64mGAE/73a2a3fa7334608bc10743dbfdd61ba3/iterm2-final-setup.jpg?fm=jpg&fl=progressive&w=3840&h=2160&q=70&q=70)
from [here](https://www.felixjung.io/posts/pretty-iterm2-with-a-modern-titlebar/).

This feature does not seem to be implemented.

[2019-10-17 10:56] eirnym commented on #933
Transparent titlebar is implemented. I agree, that tabs could be integrated to titlebar as well if a user wants.
Do you want to contribute implementation of them for MacVim?

[2019-10-17 13:37] mvcouwen commented on #933
I would like to but I am afraid I don't know anything about the underlying code for macvim. Maybe I do in the future and then I might give it a try. That will not be anytime soon though.

[2019-10-17 14:37] tracyone opened #959 "Can't not open macvim in Catalina(10.15)"
I just downloaded the latest release (MacVim.dmg)

https://github.com/macvim-dev/macvim/releases/tag/snapshot-159

<img width="532" alt="Screen Shot 2019-10-17 at 22 36 16" src="https://user-images.githubusercontent.com/4246425/67018946-898cb380-f12e-11e9-9f9a-b0df5cd8232f.png">

[2019-10-17 14:39] tracyone commented on #959
Ok, I have found the solution:

https://www.reddit.com/r/MacOS/comments/cgj1qs/cant_be_opened_because_apple_cannot_check_it_for/

[2019-10-17 14:39] #959 closed

[2019-10-17 18:13] isaki commented on #905
This has indeed fixed it, thank you!

[2019-10-17 18:27] 9mm commented on #934
awesome!

[2019-10-17 18:32] 9mm commented on #949
Thanks it fixed it, and now I removed linespace=-3 👍

[2019-10-17 18:32] #949 closed

[2019-10-17 19:34] acidjazz commented on #933
Love the minimal look, but also no title at all! Can we do both? maybe a new feature request @mvcouwen ?

[2019-10-17 19:43] eirnym commented on #949
Good to hear that!

[2019-10-17 20:22] eirnym commented on #933
@acidjazz no title at all is already implemented and documented `:help macvim`

[2019-10-17 20:41] aaron-goshine commented on #947
Cantalina has broken vim;

[2019-10-17 20:52] hoke-t commented on #905
Can confirm as well. Thanks!

[2019-10-17 22:51] eirnym commented on #947
even their own build

[2019-10-18 07:04] mvcouwen commented on #947
@eirnym @aaron-goshine The system version of vim should be working now. Could you check that? Also
`brew install macvim --HEAD`
should work for now (as suggested above).

Once the problem in Homebrew/homebrew-core#45455 gets fixed, the regular homebrew version should be working too.

[2019-10-18 08:25] eirnym commented on #947
thank you for suggestion, it works!

[2019-10-18 08:30] antaed opened #960 "Wrong highlighting in visual mode after latest update"
I have set guifg=NONE for the Visual highlighting group in my colorscheme but it gets overridden after the latest update:

![Screenshot 2019-10-18 at 11 10 40](https://user-images.githubusercontent.com/30736986/67077704-71517e80-f198-11e9-995a-13c7b1a64cf0.png)

[2019-10-18 13:29] antaed commented on #960
Of course:
[antaed.vim.zip](https://github.com/macvim-dev/macvim/files/3744091/antaed.vim.zip)

[2019-10-18 14:21] eirnym commented on #960
`guifg/guibg` is taken from `Normal` if it is `NONE` and visual `fg/bg` override syntax `fg/bg` respectively.

Could you tell me what effect you want to achieve?

[2019-10-18 16:01] antaed commented on #960
I would like to have only the background highlighted in visual mode and preserve the syntax highlighting on the foreground, like this:
![Annotation 2019-10-18 185908](https://user-images.githubusercontent.com/30736986/67109582-7be03800-f1d9-11e9-90c4-c549f5da8287.jpg)

(the screenshot above was taken on my Windows machine, the color scheme is exactly the same)

[2019-10-18 16:34] eirnym commented on #960
ViM in Terminal has the same issue and MacVim only paints that Vim said to paint.

You should report this issue to the upstream https://github.com/vim/vim as this issue definitely belongs there.

Sorry for misunderstanding on the beginning.

[2019-10-18 16:37] antaed commented on #960
All right, I'll report the issue there. Thank you very much for your support, closing this right now.

[2019-10-18 16:37] #960 closed

[2019-10-18 16:41] eirnym commented on #960
Please, report here the ticket url for tracking

[2019-10-18 16:42] eirnym commented on #746
vim/vim#5079 seems to be related to this.

[2019-10-18 16:57] antaed commented on #960
Ok, I'll be back with the url. Do you happen to know which patch created the issue? It must be a very recent one as it worked fine until today.

[2019-10-18 17:07] eirnym commented on #960
I have snapshot `159`, and have the same problem as you. Thank you for reporting!

[2019-10-18 22:40] eirnym commented on #960
@antaed the issue was fixed in the upstream, I hope it will be in snapshot 160

[2019-10-19 00:51] antaed commented on #960
That was very quick, you're awesome. Thank you so much!

[2019-10-19 21:11] mvcouwen commented on #549
@stevenharman A similar problem occurs when trying to update to snapshot 159. Any idea how it got solved back then?

[2019-10-19 21:19] eirnym commented on #549
@mvcouwen Please tell how do you installed MacVim? I can't reproduce it with official builds from GitHub.

[2019-10-19 21:40] mvcouwen commented on #549
@eirnym Actually, I don’t think there is any problem with MacVim itself. It seems more likely that there is a problem with Homebrew. There seems to be a Ruby mismatch when trying to build a bottle for MacVim on Mojave. See Homebrew/homebrew-core#45455

[2019-10-20 08:41] eirnym commented on #549
Please, look at #947 for the issue you have

[2019-10-20 19:25] mvcouwen opened #961 "Homebrew bottle fails to build on Mojave"
When trying to update the homebrew version of Macvim to snapshot 159, the bottle fails to build on Mojave, see Homebrew/homebrew-core#45455. There seems to be a Ruby mismatch.

The problem becomes apparent when running `brew test macvim`. The output shows that `macvim --version` has no Ruby support (-ruby) although Mac OS X Mojave ships with Ruby 2.3: see https://jenkins.brew.sh/job/Homebrew%20Cor

[2019-10-20 20:00] eirnym commented on #961
@mvcouwen Thank you for an issue,

Reading the log and formula, `configure` script of ViM (MacVim is only GUI) haven't found library or it was incompatible for some reason. Formula explicitly checks that ruby was included into the build.

You could try to build it manually by yourself and provide full build logs to discover what really happened.

[2019-10-20 20:02] eirnym commented on #961
Returning to #952, it looks only for Ruby 2.6 shipped with Catalina. Alternatively, you could build with `ruby/dyn` (or download an official GitHub build), install Ruby 2.6 and try to use it.

[2019-10-20 20:04] eirnym commented on #952
Looks like HB doesn't specify where to look ruby, so ViM's `configure` doesn't recognize ruby 2.3 and refuses to build.

Formula's maintainers test only if `Python 3` was taken from `Homebrew`, but not `Ruby`. Please, report them to fix the formula

[2019-10-20 20:37] mvcouwen commented on #961
@eirnym Thanks for the help! Are you suggesting to make the Macvim formula dependent on ruby? And then use homebrew ruby to build Macvim?

On the other hand, I have read somewhere that deleting SDKROOT (as done in the formula for Sierra and Yosemite) might solve the mismatch. Is this worth trying?

[2019-10-20 21:10] eirnym commented on #961
1) Could you try the build from GitHub if it works for you?
2) please, try to build MacVim manually explicitly providing ruby paths for `configure` script, such as `--with-ruby-command` as per documentation for `configure` script.

BTW, I don't know why the formula for `MacVim` is different with formula for [`vim`](https://github.com/Homebrew/homebrew-core/blob/f7a0810a4fccd31b6efe58928eaaddd93936

[2019-10-20 21:12] eirnym commented on #952
I have an idea: please, test `vim` from Homebrew and if there's no problems, just synchronize formulas

[2019-10-20 22:28] rr0ss0rr commented on #952
vim install via brew works fine on catalina ... but I have no clue (at this moment) on creating or replacing a brew formula.

[2019-10-21 06:33] ychin commented on #934
Just to respond to this it was a mistake of mine to have rebased while using the same tag. I intended to release it but had to make a change. In the future I would just increment the snapshot number.

[2019-10-21 06:47] ychin commented on #933
In particular, do `:help MMTitlebarAppearsTransparent`.

I will be open to pull requests for a "modern style", although I'm a little weary of adding even more customization to window styles and tabs. Features are good but they add complexity and general maintainence cost, so I have to weigh how much value there is versus having to juggle multiple tabs implementation. Seems like iTerm has "Regular"

[2019-10-21 12:10] mvcouwen opened #962 "Minimal look for tabs"
Recently, iterm2 updated and gave user the possibility to choose between 3 new looks: regular, minimal and compact. I particularly like the minimal look. It shows all the necessary information without being distracting. This look is based the appearance of Electron apps (https://www.iterm2.com/documentation-preferences-appearance.html). See e.g. this screenshot  ![this](https://images.ctfassets.ne

[2019-10-21 12:11] mvcouwen commented on #933
I have made another issue: #962.

[2019-10-21 13:32] chdiza commented on #928
@ychin It does seem to be fixed.  Thanks!

[2019-10-21 18:06] mvcouwen commented on #961
Solved by PR Homebrew/homebrew-core#45624.

[2019-10-21 18:06] #961 closed

[2019-10-21 18:17] mvcouwen commented on #947
Should be solved by PR Homebrew/homebrew-core#45624.

[2019-10-21 18:38] mvcouwen commented on #934
Homebrew version got updated. Could you check if the problem got fixed?

[2019-10-21 18:42] mvcouwen commented on #544
iTerm2 now has even better looks in my opinion. Requested the following similar feature: #962.

[2019-10-21 18:48] 9mm commented on #934
it works!

[2019-10-21 19:10] eirnym commented on #952
@mvcouwen Thank you!

@definelicht Could you check if it works in your environment?

[2019-10-21 19:14] eirnym commented on #934
@vaga Could you check if you're still experiencing the issue? If not, please, close the issue

[2019-10-21 19:17] eirnym commented on #544
@mvcouwen I personally agree with you. However, I know a few people who like toolbar and tab bar list separate.

[2019-10-21 20:43] rr0ss0rr commented on #952
THANKS!  .. Works great in 10.15

[2019-10-22 07:12] ychin commented on #930
Closed by #963

[2019-10-22 07:12] #930 closed

[2019-10-22 07:20] ychin commented on #948
As @eirnym said this is as designed and how GVim works. We snap the window size to the fixed intervals of the column/row size. Only time we don't do this is when the window is in fullscreen mode.

However, I do find it a little annoying. I'm considering making window size smoothly transition instead of snap to fixed interval, maybe only if `set guioptions+=k` is on, so I'm leaving this issue open.

[2019-10-22 07:24] ychin commented on #959
Will be fixed soon. The next release will be notarized. It was my mistake not catching that as I tested the release on Mojave.

[2019-10-22 08:00] ychin commented on #960
@eirnym What other issues are you looking to be fixed upstream?

[2019-10-22 09:30] antaed commented on #960
Honestly, I haven't found any other issues besides this one. Thanks for asking

[2019-10-22 12:48] mvcouwen opened #967 "Automatically show and hide scroll bar"
If you go to Setting - General on macOS, you have the following option to show/hide scroll bars.
<img width="634" alt="Screenshot 2019-10-22 at 14 40 34" src="https://user-images.githubusercontent.com/44055511/67286863-6705ec00-f4da-11e9-9e1d-1ae87e3fb4a3.png">
You can see how this works by using Finder with the different options.
This also has an effect on most of the macOS applications but not o

[2019-10-22 14:06] eirnym commented on #960
@ychin as far as I see, other issues were fixed. It even could be built with Python 3.8.

[2019-10-22 17:51] definelicht commented on #952
@eirnym I can confirm that this works for me as well. Thank you!

[2019-10-22 17:51] #952 closed

[2019-10-22 18:46] derickbailey opened #968 "Ruby scripts no longer work in macvim 8.1.2168?"
# Ruby command and script stopped working

My macvim updated to v8.1.2168 today, and all of my `:ruby` scripts and plugins stopped working, including commant-t which is a critical part of my workflow in macvim

I'm on a 2019 MBP running MacOS Mojave 10.14.6 (18G103)

I use rbenv and have installed ruby v2.6.1 as my `global` (primary) ruby version

when i attempt to run any `:ruby` command, i get t

[2019-10-22 18:53] derickbailey commented on #968
more info... i installed macvim via homebrew.

[code]

looks like it didn't like my ruby install when i originally installed macvim through `brew`... trying to do an upgrade or force rebuild to see if that helps

[2019-10-22 18:54] ruckserve opened #969 "MacVim + Catalina vsp window does not properly align"
**Describe the bug**
The vertical split functionality seems to be broken since I updated Vim with Catalina installed. The line, rather than appearing as a solid vertical split, seems to flow around the text in the lefthand buffer

**To Reproduce**
Detailed steps to reproduce the behavior:
1. Run `mvim --clean -O <any 2 non empty filenames>`
2. The vertical split bar will flow around the file on th

[2019-10-22 18:55] eirnym commented on #968
you should specify where ruby is located by setting `rubydll` option.

Mojave has older Ruby version and `Vim` doesn't take ruby from env.

[2019-10-22 18:57] eirnym commented on #969
@ruckserve thank you for an issue

Could you please try the terminal version of MacVim?

[2019-10-22 18:58] derickbailey commented on #968
looks like reinstalling has corrected vim

[code]

and now

[code]

ruby is there. and i can run

`:ruby p RUBY_VERSION` in macvim now. it shows `"2.6.5"` as expected.

[2019-10-22 18:58] #968 closed

[2019-10-22 18:59] eirnym commented on #969
BTW, I can't reproduce it with snapshot 159 from GitHub (Homebrew has the latest version correctly applied, so it safe to use it)

[2019-10-22 19:02] eirnym commented on #947
@robjperez Could I ask to install the fresh vim from Homebrew (not `HEAD`) and check if this still an issue?

[2019-10-22 19:05] eirnym commented on #910
@nfuria Could you check the snapshot 159 and tell if it still an an issue for you?

[2019-10-22 19:15] 9mm commented on #947
I'm using v159 (not `--HEAD`) on Catalina latest from Homebrew and it works great

➜  Desktop brew list macvim
/usr/local/Cellar/macvim/8.1-159/bin/gview
/usr/local/Cellar/macvim/8.1-159/bin/gvim
/usr/local/Cellar/macvim/8.1-159/bin/gvimdiff
/usr/local/Cellar/macvim/8.1-159/bin/gvimex
/usr/local/Cellar/macvim/8.1-159/bin/mview
/usr/local/Cellar/macvim/8.1-159/bin/mvim
/usr/local/Cellar/macvim/8.1-

[2019-10-22 19:46] nfuria commented on #910
Now it’s better, but still does not have a good visibility.

Newton Furia

[2019-10-22 19:53] ruckserve commented on #969
I'm not sure what you mean by

I can open vim on the terminal but it's just my homebrew installed vim (/usr/local/bin/vim), and that works correctly with `:vsp`. If I open mvim or gvim I get a GUI window.

[2019-10-22 20:19] eirnym commented on #969
Open not in gui, but terminal. When you install `MacVim`, it provides `vim` and `gvim` scripts as well.

[2019-10-22 20:20] eirnym commented on #969
and please check the latest build (not `HEAD` as you proposed above)

[2019-10-22 20:21] eirnym commented on #910
I see it white on black background

This is a screenshot from `mvim --clean`:

<img width="852" alt="Zrzut ekranu 2019-10-22 o 21 10 39" src="https://user-images.githubusercontent.com/485399/67328751-39409780-f51a-11e9-9eed-bdbb7e248a39.png">

[2019-10-22 20:31] JezuzStardust opened #970 "Cursor offset when typing"
**Describe the bug**
The further I type on a line the more the cursor is offset away from the text (to the right).

**To Reproduce**
Detailed steps to reproduce the behavior:
1. Run `mvim --clean`
2. Type `i` and start typing.

**Expected behavior**

<img width="643" alt="Screenshot 2019-10-22 at 22 19 06" src="https://user-images.githubusercontent.com/31573403/67329726-8c671a00-f51b-11e9-91f5-ed1

[2019-10-22 20:46] eirnym commented on #970
@JezuzStardust thank you for an issue,

I can't reproduce it with version from GitHub. Could you check it as well in your environment?

[2019-10-22 20:52] JezuzStardust commented on #970
@eirnym I just now tried to install from head (`brew uninstal macvim && brew install macvim --HEAD`. Is this the correct way to install the GitHub version or do I have to clone it and compile it myself?

With the commands I wrote above I get the same problem when using `mvim --clean` (and of course also if I actually use my .vimcr).

[2019-10-22 21:09] eirnym commented on #970
yes, it's correct. GitHub binaries are official, I personally use them for many years.

[2019-10-22 21:18] JezuzStardust commented on #970
OK, just tried it again using the binary this time. Still the same problem. I also noticed that the cursor resets to the correct position if the line wraps or if I start a new line of text.

[2019-10-22 21:30] eirnym commented on #967
@mvcouwen Thank you for an issue

it makes total sense, and it's relatively easy to extend `guioptions` for that.

[2019-10-22 21:30] eirnym commented on #970
it's strange. I have no such problem at all (and haven't). I have tried to build MacVim from source and still no such problem. Could you investigate the problem further?

[2019-10-22 21:37] JezuzStardust commented on #970
I managed to find the problem now! For some reason I had disabled the option "Use Core Text Renderer" under the preference menu. When I re-enabled that and restarted MacVim, the problem went away. I am not sure, but perhaps this is still something to investigate?

[2019-10-23 00:14] nfuria commented on #910
The problem is with the I beam cursor. The left screenshot is from version 8.1.950, the other is from the new version.

[2019-10-23 04:54] eirnym commented on #910
You can see on my second screenshot this I-beam cursor above "It was created by" words.

[2019-10-23 08:25] trondbn opened #971 "MacVim snapshot 159 vim spell randomly flagging first word in lines"
**Describe the bug**
MacVim snapshot 159 vim spell randomly marks a lot of words that appear first in their line as bad. First suggested correction seems to always be capitalizing the word, but after accepting this it is still marked as bad.

**To Reproduce**
Detailed steps to reproduce the behavior:
1. Run `mvim --clean`
2. Edit a text file, such as the one attached to this report.
3. Type ':set

[2019-10-23 09:00] ychin commented on #971
I think this is https://github.com/vim/vim/issues/5072 which was fixed in https://github.com/vim/vim/commit/7751d1d1a3d447d0d48f57f34e0da9f7c6ac433d (v8.1.2172). There should be an update soon to address app notarization issues which will come with this.

[2019-10-23 09:02] ychin commented on #970
Huh that's odd. I would put this to investigate later but I would like to deprecate non-Core Text Renderer path (it doesn't work perfectly and has glitches) so likely not immediately. If there are other reasons why you can't use the Core Text renderer let me know.

[2019-10-23 09:05] ychin commented on #969
To open MacVim in terminal mode, easiest way is `mvim -v`.

I think the issue is the GUI's text renderer though. @ruckserve do you have CoreText renderer enabled/disabled? Easiest way is to follow instructions at https://github.com/macvim-dev/macvim/wiki/Reporting-an-Issue and do the following and paste the results here:

    defaults read org.vim.MacVim | grep 'MM\|SU'

[2019-10-23 09:12] ychin commented on #967
It's on my backlog of things I want to add but I remember there's some tricky bits regarding how it interfaces with Vim, and how to get the "place two fingers to show the scrollbar" feature working. Should be doable if some effort is made.

[2019-10-23 09:40] #934 closed

[2019-10-23 11:37] chrisbra commented on #971
We had a recent discussion about this at [vi.stackexchange.com](https://vi.stackexchange.com/questions/21567/where-do-i-fix-partial-words-incorrectly-identified-as-errors-with-spell)

Copying here my answer from there:

This is a [known bug](https://github.com/vim/vim/issues/5078), introduced by patch [v8.1.2153](https://github.com/vim/vim/releases/tag/v8.1.2153) that has since been fixed with pat

[2019-10-23 13:45] nfuria commented on #910
There are no I-beam cursor in your screenshot; look the email.
For some strange reason, the native capture tools does not register the I-beam cursor. I used Snagit to capture my screenshot.

[2019-10-23 13:57] nfuria commented on #910
Follows a screenrecord showing the I-beam cursor, almost invisible in this color scheme.

[2019-10-23 17:40] L-TChen opened #973 "Precompiled Snapshot 159 fails to detect appearance change"
**Describe the bug**
The variable `v:os_appearance` always returns 0 for the compiled binary of Snapshot 159; it works as expected if compiled manually and changing the deployment target to macOS 10.14+ or above.

**To Reproduce**
Run MacVim in the dark mode and `:echo v:os_appearance` always shows `0`.

**Expected behavior**
The variable `v:os_appearance` should be `1` in the dark mode.

**Propos

[2019-10-23 19:42] eirnym commented on #910
@nfuria I'm sorry, I don't see screenshots within GitHub interface. Could you check them there and re-attach if missing?

[2019-10-23 19:44] eirnym commented on #973
@L-TChen
It's true. However, it peeks correct theme on restart (direct switch doesn't work well) which could be used to fix the problem

[2019-10-23 19:47] eirnym commented on #969
@ychin juste tested it. I reproduced the issue with CTR disabled.

[2019-10-23 22:43] nfuria commented on #910
The screen recording show the I-beam in the two versions. In the new version it is almost invisible.

![macvim](https://user-images.githubusercontent.com/2140247/67439460-a44aa680-f5cc-11e9-95d3-16b17dfd35f7.png)

[2019-10-24 06:44] eirnym commented on #910
I've run `mvim --clean` and then `:colo darkblue` to see the theme.It's bright yellow and bold which has very good visibility on a navy blue background as per me. I attached the screenshot done right away.

<img width="733" alt="Zrzut ekranu 2019-10-24 o 08 39 29" src="https://user-images.githubusercontent.com/485399/67459854-ccbcba00-f639-11e9-9f31-c96e596613ff.png">

[2019-10-24 08:17] ychin commented on #937
Is this still an issue? I haven't reproduced this myself with or without `guioption+=l`. What OSes are you guys running?

[2019-10-24 08:23] #973 closed

[2019-10-24 11:28] robjperez commented on #947
Just did it and it works ok, I think we can close this ticket already

[2019-10-24 11:28] #947 closed

[2019-10-24 15:27] eirnym commented on #937
I have 10.15 with MacVim 159 (since 157), with python 3.7. I have no problem with this, but some plugins require to be installed in an environment beforehand.

* activate a venv
* install some package into venv which isn't installed into system python (I used `xxhash` for my case)
* test it with `$ python -c 'import xxhash'`
* open vim/MacVim
* execute `:!python -c 'import xxhash'`
* execute `:py3

[2019-10-24 19:49] eirnym commented on #910
ah, you meant _mouse_ I-beam cursor. I thought all the time you're talking about text cursor. I'm sorry for the misunderstanding. It's better if you edit the issue to name it better.

Currently, I have MacVim 159, macOS 10.15 on MBP with Retina display and see mouse cursor better than you have on the second screenshot.

[2019-10-24 20:52] nfuria commented on #910
Sorry for the confusion. As the insert cursor in Vim is always a  vertical bar and not a I-beam as it occur in almost all other applications, I didn't explain that the problem was with the mouse cursor.

[2019-10-24 22:35] ruckserve commented on #969
Thanks @ychin and @eirnym. Sorry for the delay, I'll check the docs for how to enable the CTR and see if that fixes it.

[2019-10-24 22:40] ruckserve commented on #969
Ok, I checked the `Use Core Text renderer` in the Preferences menu, restarted macvim and the issue has gone away. Thanks for the help, I'll leave this issue open for the fix but use the CTR going forward if that is the preferred usage. Thanks again

[2019-10-25 20:19] nfuria commented on #910
I use the GitHub MacVim 159 and the mouse cursor problem occurs on an iMac midi 2010 without a retina display. On a MPB midi 2012 without a retina display the cursor becomes more visible. Both machines run macOS 10.13.6. As they are very old systems, I think it is not worth trying to improve cursor visibility as it is a cosmetic problem that does not affect the use of MacVim.
What would be worth i

[2019-10-26 20:09] ychin commented on #910
Let me look more into this. Non-retina displays are definitely supported features. I could always just use the old cursor for non-retina displays.

[2019-10-28 05:39] nblievers commented on #970
@JezuzStardust  thank you! This was driving me nuts.

[2019-10-28 08:35] ychin commented on #910
Ok, so basically #859 changed MacVim to use the system native I-beam cursor.

I think Mojave (10.14) and above have a new set of I-beam cursors that have the strong white border, which I think were designed to work well on dark mode. That's why I couldn't quite see what the issue is. Since you are using 10.13 I think the system cursors are less designed for dark backgrounds and hard to see in thos

[2019-10-28 08:36] #910 closed

[2019-10-28 09:47] bitigchi commented on #544
This seems to be implemented. Using latest version on Catalina.

[2019-10-28 18:18] eirnym commented on #970
@ychin Good work!

Snapshot 160 was fixed the issue, but font rendering is… slightly different (more spaces in between letters). I won't create another issue now  as you want to sunset the non-Core Text Rendering. Please, notify me if you need this issue

[2019-10-28 18:37] chdiza opened #976 "There is no commit for Snapshot 160"
No commit was made for Snapshot 160, even though it's been released.

This means "About MacVim" still shows "159".

[2019-10-28 18:51] eirnym commented on #971
@trondbn snapshot 160, please check it

[2019-10-28 19:07] ychin commented on #976
I just forgot to push to master (only pushed the tag). It won’t mess up the hash.

[2019-10-28 20:12] eirnym commented on #976
I think it's enough to have a patch from Homebrew/MacPorts side to show appropriate value if needed

[2019-10-28 20:15] amadeus opened #977 "Line Height Issue on latest master"
**Describe the bug**
I noticed that when building the latest master of macvim, font line-heights get weirdly messed up.
I am on macOS Mojave - 10.14.6

![image](https://user-images.githubusercontent.com/83376/67714219-a920a900-f984-11e9-81e4-4a671a74231f.png)

Normally I run off the `stateful-render` branch, but was trying to rebase master into it when I came across the bug. So I tried building ma

[2019-10-28 20:59] eirnym commented on #969
@ychin, Please, include all important information into template, it'll be easier to follow it rather than reading a wiki

[2019-10-28 21:00] eirnym commented on #977
@amadeus thank you for an issue

You missed a few important steps of creating bug-report, so please, fill them out.

Could you tell us more about your system?

* From source did you installed MacVim and which version? GitHub/Homebrew/MacPorts/built from source (if the latest, please specify commit/tag you used)
* Try to run with `mvim --clean` (`gvim --clean`) to eliminate influence of all plugins

[2019-10-28 21:05] ychin commented on #977
What font are you using? There was some line height issue that I think was fixed in 159 so curious if it’s related.

[2019-10-28 21:10] amadeus commented on #977
@ychin my guifont settings are:

[code]

[2019-10-28 21:19] amadeus commented on #977
@eirnym I edited my original post with the missing things you request, however I don't think there's any way this is plugin related, unless a plugin is editing `linespace` which it's not - since checking the value yields 0, which my older working build had as well.

@ychin I can also confirm downloading the latest release from the releases tab in github also replicates this bug with my font settin

[2019-10-28 22:28] eirnym commented on #977
@ychin it seems to be same as with `Menlo`. Spacing between letters are higher. `Fira Code Light` have the same issues, but less visible

[2019-10-28 23:42] nfuria commented on #910
Hi Yee

It is working perfectly.

Thanks

Furia

[2019-10-29 07:21] ychin commented on #976
Fixed. There shouldn't be a need to rehash etc. It's the same commit.

[2019-10-29 07:21] #976 closed

[2019-10-29 07:23] ychin commented on #825
MacVim is now signed to use hardened runtime and notarized. The settings exists outside of the committed Xcode project and we choose to use the custom command line tools now (`codesign` and `xcrun altool`) which are much more flexible.

[2019-10-29 07:23] #825 closed

[2019-10-29 07:29] trondbn commented on #971
Confirmed fixed in snapshot 160.

[2019-10-29 07:29] #971 closed

[2019-10-29 08:16] ychin opened #978 "Fix hardened runtime / app notarization issues with scripting languages"
The current released binary ([snapshot 160](https://github.com/macvim-dev/macvim/releases/tag/snapshot-160)) uses hardened runtime, which prevents scripting languages like Python from working when using e.g. `:python` commands. Need to fix that by using `get-task-allowed` entitlement, which seems to be the only one that works (documentation suggests it's not allowed to distribute apps using it but

[2019-10-29 08:31] ychin commented on #977
@amadeus Looking at the commits, I think the `stateful-render` branch actually contains a temporary bug that was introduced and fixed in between snapshot-157 and snapshot-158 (see #928).

Now, it's arguable whether it's a bug or not. Basically MacVim has never respected the font's line heights (try snapshot 157/158 if you don't believe me) and there was a PR which started reading font's line heigh

[2019-10-29 08:38] amadeus commented on #977
Interesting! I’ll experiment more tomorrow.

Out of curiosity, how do we calculate line height now?

[2019-10-29 21:09] 9mm commented on #544
Dude if MacVim looked like that I literally would die and go to heaven...

@bitigchi so youre saying this is somehow implemented? How do I enable them?

[2019-10-29 22:29] romainl opened #979 "Updating to snapshot 160 breaks Python support"
**Describe the bug**
The Python interface no longer works after updating MacVim from snapshot 159 to snapshot 160.

**To Reproduce**
Detailed steps to reproduce the behavior:
1. Put the lines below in `/tmp/pythontest.vim` to tell Vim where to find Python 3.7:

        " this is from MacPorts, use a path that works for you
        let &pythonthreehome = '/opt/local/Library/Frameworks/Python.framew

[2019-10-30 05:45] eirnym commented on #979
@romainl Thank you for an issue,

It's a known problem, #978

[2019-10-30 07:16] mvcouwen commented on #544
@9mm I think what @bitigchi means is that native tabs (in the sense of this feature request) are implemented. So I think this issue can be closed.
However, I would like to give the tabs another look. That is why I made a new feature request #962 . This has not yet been implemented.

[2019-10-30 07:17] ychin commented on #977
I believe that's the case but I actually haven't looked closely enough. I just fixed it up to make sure we didn't have a regression or incompatible change but I didn't have time to dive into the specifics of how the line height is calculated now.

Yeah I agree we could expose an option. It's just that in true Vim fashion we should keep the old behavior which has been around for a while the default

[2019-10-30 07:32] amadeus commented on #977
Maybe we can convince @s4y to make it part of the stateful-render branch 😏

If I was to spec the feature, I would say - `guilineheight` should default to whatever it does now (for backwards compatibility), but then it could also take a floating point value to override the existing behavior

[2019-10-30 08:19] ychin commented on #977
No please don't. Let's just try to merge that first before tacking on small features. I need to review the latest changes in that PR and hopefully this will get in soon.

Can't you just use `linespace` for that? I would imagine we just need some way to tell MacVim to respect the font's native line height. It could either be set as part of `guifont`, a new Vim settings, or just a preference set in

[2019-10-30 08:55] RStankov commented on #979
Have the same issues. Any workarounds?

[2019-10-30 09:22] romainl commented on #979
@RStankov I worked around the issue by rolling back to snapshot 159. I'll wait and see for snapshot 161.

[2019-10-30 10:20] ychin commented on #979
This will be fixed in snapshot 161 which will come out in a day or so. The cause of this was that snapshot-160 turned on hardened runtime for app notarization requirements but it messed with Python and other scripting languages.

For now, Apple allows using much more lenient restrictions so I'm going to work around the issue and get the app notarized, but they are going to tighten up what they all

[2019-10-30 11:29] #978 closed

[2019-10-30 14:05] ychin commented on #979
Fixed in 161

[2019-10-30 14:05] #979 closed

[2019-10-30 20:41] amadeus commented on #977
Fair enough - I always assumed linespace was to create a gap between lines, not actually change the line height.

[2019-10-30 21:43] 9mm commented on #962
Subscribing to updates.

Literally this would be the most awesome change to MacVim that could ever happen. Its literally the only thing I go tired of seeing (weathered old 2005 tabs). But, MacVim is so awesome overall I just ignore it.

The only other thing that would be awesome, although I don't know if it's possible, is the window doesn't seem to follow the same 'rules' as other OSX windows. For

[2019-10-30 21:44] lilyball commented on #849
I would really love to see a build-time option for this as well. I maintain the [Nix package](https://github.com/NixOS/nixpkgs/blob/master/pkgs/applications/editors/vim/macvim.nix) for MacVim and it currently has to include a patch to strip out Sparkle, as well as invoking `ibtool` to recompile the nibs, and I'd really love to get rid of that (especially the reliance on `ibtool` as it's the bigges

[2019-10-31 12:13] eirnym commented on #273
Created a feature request for ViM core. I hope it will be implemented

[2019-11-01 00:06] yar00001 commented on #579
Having this problem in the latest version:
[code]

[2019-11-01 10:07] burakk opened #981 "version 8.1.2234 no window"
After updating to version 8.1.2234, when opening any file macvim shows the initial opening screen for a very short period and dissapears. Program is not closing but no window is shown.

 - Vim version version 8.1.2234
 - macOS 10.14.6

[2019-11-01 13:50] eirnym commented on #981
@burakk Thank you for an issue,

Could you, please, include a bit more information about your environment to help us with your issue?

* How do you run MacVim and how do you open a file?
* How did you installed MacVim?
* Which snapshot do you use? (both 160 and 161 have the same ViM patch level)
* Could you try run MacVim without any plugins and settings and check if problem persists? (you could u

[2019-11-01 13:50] eirnym commented on #981
PS: I can't reproduce it with `build 161` on `macOS 10.15`

[2019-11-01 16:10] eirnym commented on #981
It's great news that you have no problem now.

[2019-11-02 07:45] #981 closed

[2019-11-03 09:44] ychin commented on #849
@lilyball I just made a pull-request (#982) to support disabling Sparkle. You can just modify your build scripts to call `./configure --disable-sparkle` and then just build normally and Sparkle will be disabled by MacVim. One caveat is that in the build phase, `Sparkle.framework` will still be copied over to the built `MacVim.app`, because I couldn't find an easy way to disable the copy build phas

[2019-11-03 09:46] ychin commented on #849
@lilyball  Sorry I'm not too familiar with Nix, but out of curiosity, how would you not have a dependency on Xcode? If you are asking your users to build MacVim on their machines, currently you have to use `xcodebuild` to do so as MacVim's project is managed by Xcode instead of a third-party build system.

[2019-11-03 10:32] ychin commented on #981
It could be related to the hardened runtime / app notarization issues that 8.1.2234 had. Your build should say 2334 now. Feel free to reopen if you have this issue. Also, if you are using Homebrew to install MacVim it's best if you don't use the auto-updater to update MacVim and use Homebrew's built-in update instead. The next update will disable the auto-updater to make sure that's the case.

[2019-11-03 10:35] ychin commented on #544
I'm pretty sure native tabs is not implemented though.

[2019-11-03 12:22] ychin commented on #579
@yar00001 Since this bug is quite old by now and the issue has been closed, can you make a new one with screenshot? It's likely a different issue.

[2019-11-03 12:24] ychin commented on #940
I'm closing this issue as I'm not getting more responses and data to repro, and I personally couldn't reproduce the issue.

[2019-11-03 12:24] #940 closed

[2019-11-03 14:02] pinnaclesystemsgroup opened #983 "MacVim Crashes Maverick OXS 10.9"
_Instructions: Replace the template text and remove irrelevant text (including this line)_

The MacVim crashes on OSX 10.9 repeatedly and has been reported elsewhere for quite a while now.

**To Reproduce**
No special steps to reproduce. Crashes on start up. (crash dump below)

**Expected behavior**
This version should work as advertised without crashing

**Screenshots**
MacVim CRASHeD

This probl

[2019-11-03 19:46] ychin commented on #948
That's because MacVim tells the window manager it only wants to snap to integral multiples of text size:

[code]

You can actually remove that constraint in the code now and it would mostly work but there's still some rendering artifacts still as the draw invalidation code is a little buggy and there's another PR (#858) that may make it better. I will probably expose an option to allow smooth resi

[2019-11-03 19:47] #849 closed

[2019-11-04 00:44] chdiza opened #984 "--disable-sparkle doesn't work"
I just tried out `--disable-sparkle`.

I still see "Check for updates" under the "MacVim" menubar menu.  I can even select it, and I will see "You're up to date".

There is also still stuff about checking for updates in the MacVim preferences, but that might be more complex to remove.

[2019-11-04 01:10] ychin commented on #984
Seems to work for me. How exactly are you building it? You should be able to just pull to latest build, and build as follows:

    ./configure --disable-sparkle
    make
    open src/MacVim/build/Release/MacVim.app

If you want to you can even do `make distclean` before running those steps to make sure everything is cleaned, but I don't believe that's necessary.

You may also want to make sure the

[2019-11-04 01:20] ychin commented on #983
Have you tried running `mvim --clean`? What font are you using and do you have any plugins?

[2019-11-04 01:30] lilyball commented on #849
@ychin Facebook maintains [`xcbuild`](https://github.com/facebook/xcbuild), an Xcode-compatible build tool. It doesn't work for everything but it's something I want to investigate using once I no longer need to invoke `ibtool`.

[2019-11-04 01:46] ychin commented on #849
@lilyball Ah ok right. I have heard of `xcbuild` before. If you get it to work I think it could be worth merging it to MacVim as a `configure` option so people can choose either `xcodebuild` or `xcbuild` when they configure the project.

[2019-11-04 02:53] ychin commented on #983
#985 should fix this issue, but I would still like to find out why this happened. @pinnaclesystemsgroup if you could try `mvim --clean` and post what texts you were trying to render I think that would help a lot in identifying the issues (since you are using macOS 10.9 I suspect it's an issue with the behavior of the APIs).

[2019-11-04 06:21] AUsernameWhichIsNotTaken commented on #937
It's still the same mvim doesn't use the python from the environment it was started in but the system python.

Mac OS 10.15.1,
VIM - Vi IMproved 8.1 (2018 May 18, compiled Oct 30 2019 11:57:56)
macOS version
Included patches: 1-2234

[2019-11-04 10:24] eirnym commented on #937
@AUsernameWhichIsNotTaken The problem is in Vim Core, it won't be fixed in MacVim before Vim will fixed this issue inside itself.

[2019-11-04 11:12] #983 closed

[2019-11-04 12:52] chdiza commented on #984
Sorry for the noise, I somehow wound up with two MacVims and was looking at the old one.

[2019-11-04 12:52] #984 closed

[2019-11-04 18:26] pinnaclesystemsgroup commented on #983
Hello

I will send you my .vimrc file which should tell you all of my plugins ...

On Sun, Nov 3, 2019 at 8:20 PM Yee Cheng Chin <notifications@github.com>
wrote:

[2019-11-04 19:58] eirnym commented on #983
@pinnaclesystemsgroup you're welcome, please attach it to the ticket in GitHub UI as mail attachments tend to be lost

[2019-11-06 08:50] ychin commented on #983
Also, please just try with `mvim --clean` as suggested first. It's easiest if we can just identify the cause. Also, a commit just went in which should fix this in the next release. It would still be nice to know the cause, although I'm guessing it has to do with 10.9 API issues.

[2019-11-09 02:59] hahahJoey opened #986 "crash"
When I updated to 8.1.2234 (161)，it crashed. My MAC OS version is 10.14.

Crash Info:
Vim: Caught deadly signal SEGV
Error detected while processing function <SNR>107_OnVimLeave:Vim: Finished.

line    6:
MemoryError

[2019-11-09 10:18] eirnym commented on #986
@hahahJoey Thank you for your issue,

Could you tell us more about your system?
* Which distribution do you use? GitHub, Homebrew, MacPorts, etc.
* Please, try with `mvim --clean` (`gvim --clean`)  to eliminate involvement of your own configuration
* Please, try with `mvim -v --clean` (`gvim -v --clean`) to try it in a terminal.
* Please, run `defaults read org.vim.MacVim | grep 'MM\|SU'` to show

[2019-11-09 10:47] hahahJoey commented on #986
@eirnym Thanks for your reply,
I updated it by "check for updates..." in macvim.

I tried with mvim -v --clean. Vim is open correctly.

The result of "defaults read org.vim.MacVim | grep 'MM\|SU'":
    MMAutosaveColumns = 176;
    MMAutosaveRows = 63;
    MMCurrentPreferencePane = General;
    MMTopLeftPoint = "{77, 862}";
    "NSWindow Frame SUUpdateAlert" = "388 363 620 392 0 0 1440 877 ";
    S

[2019-11-09 16:33] bighi commented on #610
I just found this issue. I am using MacVim and it makes me sad. I don't know what NSTextView is, but every other Mac app handles dead keys perfectly, MacVim is the only one with a problem. So it makes me guess it's MacVim doing something wrong, not the text thing provided by Apple.

I could help debug it if needed. But I would relaly like to see this issue fixed. It's the only thing preventing me

[2019-11-09 22:01] eirnym commented on #610
@bighi You're welcome to help.

AFAIK not every single application has fixed such issues and not many applications in macOS are really using `ALT/Meta/Option` keybindings by default at all. For example, there's a problem for `Visual Studio Code` (and other `Electron`-based apps), `IntelliJ Idea` (and other java apps) where the problem is quite the opposite. Currently I doesn't see any such binding

[2019-11-09 22:12] bighi commented on #610
Sure, I'm happy to help however I can.

But maybe there's a misunderstanding. OP was not talking about ALT/Meta/Option at all.

It's just that for example, while using US International, pressing `'` and then `a` results in `á` in every other app, except MacVim. And many other combinations.

The problem is that in the US International layout, some keys become dead keys. When pressed, they do nothin

[2019-11-09 22:25] eirnym commented on #610
I have MacVim 161 and macOS 10.15 and typed <Option-u>-u to have ü (¨+ u). if first or second key is bonded to a specific action, you'll never get the right result. This is how Vim core works, it doesn't know what'll be next and it's hard to predict it.

[2019-11-09 22:26] eirnym commented on #610
AFAIK usually editors doesn't have key-bindings for letters or alt-letters in macOS

[2019-11-09 22:30] bighi commented on #610
This is not how Vim core works. Or maybe there's still a misunderstanding (on your part or mine).

In vim (terminal vim in Mac and Linux, and also gVim in Linux) I can use all the keybindings bound to `'` (like jumping to marks) just fine, even though it's a dead key in this keyboard layout.

I can even use `'` as a binding in the insert mode, without losing the option to write `á`. That's because

[2019-11-10 08:34] eirnym commented on #610
first, you have to be sure, that this symbols are present in the font you type or exception ranges to type in another font

with `Alt` there's many hacks [here](https://github.com/macvim-dev/macvim/blob/9823bad70179ad9fffff7642b3af6acc270b2fac/src/MacVim/MMBackend.m#L2167) and in many other lines in this file (mostly) to threat this as alt, not as _special key_

[2019-11-10 12:27] bighi commented on #610
No special font at all. Works on every font, on every app.

Also, telling me to change my layout and learn new key combinations to write after decades using US International just because of MacVim, is not a real solution is it? It's almost Apple's "you're holding it wrong".

There's something wrong MacVim is doing, but I don't know enough about the code to find out myself. If I had any indication

[2019-11-10 13:52] eirnym commented on #610
with default font handling NSTextView changes font for each letter and symbol and there's many exceptions like you provided, like emoji, etc.

MacVim handles symbols rendering by it's own and don't send a symbol to Vim core processing before it is not "finished". NSTextView sends to a backend `¨`, then `u`, then backend connect two symbols together, change fonts behind the scenes, etc. MacVim has

[2019-11-10 13:56] eirnym commented on #610
BTW, I type Polish every day and use to type `option-l` to type `ł`, for example. I have no `English` keyboard at all and macOS do it's spelling depending on a language I type.

The same I've seen in many other keyboard layouts. Probably, there some layouts have such problems that some character input requires type such combinations, but I haven't seen them. If you'll tell me which language you wa

[2019-11-10 14:06] bighi commented on #610
I believe there's still a misunderstanding.

I'm not talking about `¨`, I`m talking about the actual `"` symbol, like the one you would use to define a string in lots of programming languages. In US International, you use `"`+`u` to write `ü`, like I've been saying from the beginning.

Please, don't be condescending about it. I know what key I'm typing and what symbols I'm inserting. Forget option

[2019-11-10 14:31] eirnym commented on #610
I see. Keyboard preview shows these keys as _additional_ keys to input other letters, like `¨`, so we can speak about `option-u` and other such things as well (they . when I type using this specific layout `f"u`, I have `fü` at the end with seeing `f""`in between (I have a plugin for quote pairing installed). To insert really `f"u`I need to type `f" u` (but I can't input `¨` as a character using i

[2019-11-10 14:35] bighi commented on #610
Sorry, I wasn't clear on the bug description part. I meant to type `f` `"` `u` in *normal mode*. To *find* the character `ü`. What ends up happening is that MacVim finds `"` and then when you press u you undo the last change (instead of complementing `"`), which is not what the user wants.

[2019-11-10 15:03] eirnym commented on #610
I see, it's hard and I don't think it's supported in `GVim` in Windows/Linux as well.

[2019-11-10 15:43] bighi commented on #610
Now I'm pretty sure I'm being trolled or something. I don't understand why this propensity to call people liars for nothing. Just say you won't fix a bug that don't affect you and leave it at that. But dead keys are supported everywhere and have been for a long time.

So I'm just going to leave this here and move on: I recorded myself typing `f` `"` `u` in gVim in Linux. Also myself typing it in M

[2019-11-10 15:59] eirnym commented on #610
@bighi I never told you are a liar, I meant to share only my experience and what I've tested just before writing. I'm sorry, I haven't tested on a recent version version of GVim. Earlier it was definitely was a problem with any non-US keyboard.

I've written that input in macOS has it's own difficulties and it's not very obvious how to handle it properly and where to start looking if anybody want

[2019-11-12 23:52] rubin55 commented on #986
Quick note: Updated to 161 yesterday (am on macOS 10.14.6), YouCompleteMe was MemoryError'ing all over the place; I reverted to 157 and my errors disappeared.

[2019-11-13 09:06] ozzop opened #987 "Macvim Dictation Issue on Catalina"
Hello, I just upgraded to MacOs Catalina and I'm having some issues using the dictation on Macvim.

I'm using the 8.1.2234 Macvim version and when I start to dictate, after some lines, Macvim automatically deletes the previous lines and what I get in the end are the last sentences. This is my first attempt of using dictation in Macvim so I can't tell if before MacOs Catalina the issue was still th

[2019-11-14 07:33] eirnym commented on #987
@ozzop Thank you for your issue,

I haven't tried the dictation in MacVim yet and I think it's a good time to try it :)

Please tell us a little more details about your experience to reproduce the issue.

In which language do you dictate?
Do you know any specific words or phrases which trigger incorrect MacVim's behaviour?

Have you've installed MacVim from GitHub, Homebrew or MacPorts?
Have you t

[2019-11-14 08:16] ychin commented on #986
@hahahJoey Do you have YouCompleteMe too?

@rubin55 do you have more details about the memory errors you are seeing? There used to be another issue (https://github.com/ycm-core/YouCompleteMe/issues/3520) related to app hardening and Python, but it was only in 160, not 161.

[2019-11-14 08:19] hahahJoey commented on #986
@ychin Yes, I have.

[2019-11-14 08:21] eirnym commented on #986
Try to download a new version of YCM and recompile it. I built it since installed Catalina a few times.E

[2019-11-14 08:22] rubin55 commented on #986
@ychin How can I collect these errors? They just scroll "through" the gui, looks like a backtrace; can I capture it somewhere? Then I'll share!

[2019-11-14 08:26] ychin commented on #987
@ozzop Can you be a little specific about what lines you were saying? Since it's likely you may have triggered some keywords. Are you only using Dictation or Voice Control too?

[2019-11-14 08:33] ychin commented on #986
@rubin55 You can find your crash logs in `~/Library/Logs/DiagnosticReports/`. Alternatively, you can find them in a built-in macOS app called "Console" as well.

[2019-11-14 08:38] rubin55 commented on #986
Mm, I looked there, no logs for MacVim. Note that It doesn't actually crash, it keeps running, but is unusable due to logs going through the GUI. I'll Try and reproduce now, gimme a sec

[2019-11-14 08:43] rubin55 commented on #986
These errors do not show up in any log and also not in the console. They occur with 161 only, not with 157:
<img width="963" alt="Screenshot 2019-11-14 at 09 41 44" src="https://user-images.githubusercontent.com/6214491/68840515-2bb6a180-06c3-11ea-8d31-c85baa118203.png">

<img width="724" alt="Screenshot 2019-11-14 at 09 42 15" src="https://user-images.githubusercontent.com/6214491/68840519-2eb192

[2019-11-14 08:54] ychin commented on #610
Sorry all, I just read this thread as I have been busy and late to jump in.

@eirnym, this is a valid and solvable issue. I appreciate your help, but I think it's reasonable to submit a issue for this to be addressed and be discussed over.

This is not an Option/Alt key issue, but more how MacVim handles OS input methods. This is a somewhat similar issue to #837, where normal mode doesn't quite ha

[2019-11-14 09:00] ychin commented on #610
@bighi Just out of curiosity, what's the rationale behind "many others" who alerted you not to try MacVim? It's fine if they don't like it but I would like to know the reason so they can be fixed.

[2019-11-14 09:12] ychin commented on #986
Oh ok so it literally just ran out of memory because of some bug / issues with the plugin. Can you post an issue on YouCompleteMe? I'm not trying to kick the ball over since I do recognize that the plugin went from working to not working after upgrading MacVim, but I think it could be useful if they could help a little as they probably know much better what the script is doing.

[2019-11-14 09:53] rubin55 commented on #986
@ychin I checked the existing bug in YCM here https://github.com/ycm-core/YouCompleteMe/issues/3520 . This is the same issue; my logmessages above are identical to the comments by @andy-retailnext here: https://github.com/ycm-core/YouCompleteMe/issues/3520#issuecomment-547582831

I think the issue is not fixed in 161..

[2019-11-14 10:43] ychin commented on #986
Hmm, others have reported it fixed it for them though. Can you try this and tell me if you see an error?

`:python print("Testing Python")`

[2019-11-14 11:57] ecerulm commented on #610
@ychin I tried disabling the "Drawed Marked Text Inline" options and **it did work!**

So I use the following example text:

    This text contain the swedish letter ö and the swedish letter ä but also " (the double quote symbol)
When I have Drawsed Marked Text Inline **enabled** if I press `0f"a` it will jump to the `"` which is **incorrect** since in U.S International PC keyboard layout `0f"a` m

[2019-11-14 12:04] ychin commented on #610
@ecerulm Cool. Good to know. I'll try to see if I can squeeze in a fix for this next update, but as I said I want to think a little more what the desired behavior is as magic options that you need to know to set is never fun.

[2019-11-14 12:44] ecerulm commented on #610
@ychin when @bighi  said

I think he mean that just this issue with the dead keys is preventing him and many other people in his company to use MacVim, not that there are other many other issues.

Also to be fair, I should say that in the past I tried all the GUI options for mac and none worked like I wanted. For example, I reported this very same issue  [in dec 2017](https://github.com/qvacua/vim

[2019-11-14 13:17] rubin55 commented on #986
that prints "Testing Python", without issues. I can 100% reproduce this issue with version 161 and YouCompleteMe. My buildarguments for YCM are:

[code]

 I'll share my .vimrc here:

[code]

[2019-11-14 17:42] ozzop commented on #987
Ok, I've done some tests and I'm ready to answer.

@eirnym I'm dictating in Italian and I didn't notice any word or phrase in particular that triggers this behavior (for example dictating "pizza pasta mozzarella" in loop for 20 times triggers the event as well as saying "ciao" or some random text). I've installed MacVim from Github and the issue shows up only when I use it with the GUI, no problem

[2019-11-14 21:10] eirnym commented on #986
@rubin55 as it's documented, YCM is not really compatible with System Clang and they doesn't provide any support with it. I took this warning seriously and always use an internal version. They update library quite often and I have no problems at work where we use the latest C++ features.

[2019-11-15 10:42] eirnym commented on #986
@ychin Recent Xcode update may be related, but I'm not sure about this

<img width="546" alt="Zrzut ekranu 2019-11-15 o 11 40 27" src="https://user-images.githubusercontent.com/485399/68937636-09915200-079d-11ea-981a-24d54f3e8ea8.png">

[2019-11-15 14:00] bighi commented on #610
Just came here to say that I tried that and it really did work. All my problems with dead keys seem to be gone.

Thank you, @ychin. You're great!

We have weekly tech talks where I work and after the presentation we hang out to chat. And lots of times it's about Vim. Some guys here tried MacVim before, and their complaints were usually about some rendering issues and the problems with dead keys.

[2019-11-16 14:14] marcelsby opened #988 "Bold Deactivate"
Hello, nice work! MacVim is awesome. I want deactivate all bold fonts, is there any way to do this?

[2019-11-16 15:01] eirnym commented on #988
@marcel-yamamoto Thank you for an issue,

Please, correct me if I understood you incorrectly, I think you could do this by changing a highlighting scheme you use. You can found about this information in `:help :hi`.

MacVim uses bold font only when it is set in highlighting or you specified a bold font to use (`:guifont`).

[2019-11-16 23:02] ychin commented on #610
I see. Yes the rendering issues should mostly be resolved with some remaining issues with scrolling performance not being buttery smooth (see #796). The issue took a little while to resolve especially when transitioning to Mojave. I will look into the dead key issues but for now you can turn off marked text drawing although you probably want to change that back when this is fixed.

[2019-11-17 04:46] ychin commented on #986
@rubin55 Sorry I couldn't repro the bug and with how big a plugin YCM is (in particular in requires custom build steps), I may not not be hitting the same situation as you are. Can you post on https://github.com/ycm-core/YouCompleteMe/issues/3520 (or re-open the issue) and ask for help there? As I said, the original (and others) poster said 161 fixed the issue, so it could be a different issue. If

[2019-11-17 08:20] ychin commented on #987
Also another dictation issue I found that may or may not be related: #87

[2019-11-22 07:31] hukl commented on #626
@amadeus I'm running into the same issue and from your comments I can't quite figure out what to do to get nice colors in the macvim term. Could you help me out with more detailed instructions?

[2019-11-22 19:21] eirnym commented on #626
You should call `term_setansicolors()` function to set them.

[2019-11-22 19:45] eirnym commented on #626
Example from the test from the commit mentioned above:

[code]

[2019-11-22 19:47] eirnym commented on #988
@marcel-yamamoto could you be more specific on your issue?

[2019-11-27 16:02] dr-costas opened #989 "Vim cannot open Mac OS Catalina -- NO BREW"
I downloaded the latest snapshot of MacVim. I tried to run it but I cannot. The console App says:

I tried also with sudo .....`MacVim/Contents/bin/vim` but no luck.

**Environment (please complete the following information):**
 - Vim version: VIM - Vi IMproved 8.1 (2018 May 18, compiled Oct 30 2019 11:57:56)
macOS version
Included patches: 1-2234
Compiled by travis@Traviss-Mac.local
Huge version

[2019-11-27 16:16] #989 closed

[2019-12-02 17:25] ScrumpyJack opened #990 "[Feature Request] Disable scrollbars"
I'm happy navigating vim from the keyboard, and with nerdtree active, we get one scrollbar each side of a macvim window.

Would be nice to have the option to disable scrollbars altogether.

[2019-12-02 17:31] ScrumpyJack commented on #990
fixed with

set guioptions=

[2019-12-03 02:49] saj commented on #986
I am also on Mojave.  I did not see a full crash dump in this bug report so I have included one at the bottom of this post.  Contrary to an [earlier post](https://github.com/macvim-dev/macvim/issues/986#issuecomment-553795697), the `MemoryError` exceptions from Python are not indicative of an OOM condition; rather, a segfault is being triggered when that Python code is evaluated.

The report filed

[2019-12-03 08:36] ychin commented on #990
You don't want to do that. Using `set guioptions=` will unset *all* guioptions, including future additions to Vim meaning you will lose out on new features.

Instead, do this instead: `set guioptions-=lLrR`

[2019-12-03 08:36] #990 closed

[2019-12-04 12:21] ScrumpyJack commented on #990
hmm

`set guioptions-=lLrR `

shows both scrollbars, and I can't find a combo that removes both

[2019-12-04 13:59] chdiza commented on #990
I can confirm that e.g. `se go-=lLrRb` leaves a righthand scrollbar in place.  Seems like a bug.

[2019-12-10 12:14] ychin commented on #990
It's not a bug. I just forgot how `set` works.  You have to remove them one by one by doing:

[code]

But yeah it's fair, you can always go for an additive approach by adding only the `guioptions` that you care about instead of subtracting from defaults.

[2019-12-10 14:39] benknoble opened #991 "Multilang messages not used"
**Describe the bug**

In terminal vim with `+multi_lang` and locale as follows, the messages are all in French.

In macvim, however, even when running in the terminal, messages are not localized. They remain in English.

Note that I'm not talking about *menus*, the translations for which I understand were recently borked. I'm talking about *messages*, and the interface such as the "quit anyway?" p

[2019-12-10 16:13] eirnym commented on #991
@benknoble
This is a known TODO, that MacVim has only English version and was discussed many times. One of the main reasons is translation of the main menu in GUI and `:help` topics. You can contribute a translation (or more than one) if you need it.

[2019-12-11 14:34] benknoble commented on #991
@eirnym Perhaps I wasn't clear—I'm not referring to help topics or to the menus.

I'm talking about *messages*. The little things that popup and say, do you want to quit? Hit enter to continue... Swap file detected, press a button:

Or this copy-paste of my (normal vim) translated intro

[code]

vs. macvim (even in terminal):

[code]

[2019-12-11 14:39] benknoble commented on #991
I believe all you need is this from vim/vim: https://github.com/vim/vim/tree/26967617a30e55aedc98b8f14b841d88469abd0e/src/po

[2019-12-11 17:30] eirnym commented on #991
I agree with you. Because of the reasons I've mentioned, all other translations are disabled in this repo.

[2019-12-11 19:13] eirnym commented on #991
#776 is basically the same issue on that topic

[2019-12-11 22:02] benknoble commented on #991
This is not the same as "no menu translations," which I see in `:h macvim-todo`:

[code]

I would have expected translating internal messages to be completely achievable (since it is a simple string mapping at runtime), irrespective of the gui menu issues (which has to do with Apple's system). I understand (I think) why we have `:set langmenu=none`—but that doesn't explain why, if `:lang mess` giv

[2019-12-11 22:50] eirnym commented on #991
Menu translations should be done on a different level than translation for the rest of the ViM Core. Vim Core has it's translations in editable files, while translations of a MacOS app is done in other ways. So yes, this confirms, that the menu translations are missing.

Currently, most of menu done in `menu.vim` files, so it will be easier, but the main menu (`MacVim`) and the preference pane has

[2019-12-11 22:51] eirnym commented on #991
Let me find for you some of the places required for translations

[2019-12-11 22:57] eirnym commented on #991
In the project there's Xcode string catalogs named `src/MacVim/English.lproj` for English, and it's needed to translate this part first. After this, we need to translate `menu.vim` generated for English users. We shouldn't forget to make sure that `Sparkle` framework has translations wee need.

Also you need to know about differences with input, and edit commands accordingly. I use keyboard `Polis

[2019-12-12 05:35] benknoble commented on #991
I'm going to repeat what I started with: I don't have any interest in menu or help translations for MacVim at this time.

What I care about is the messages translation. They are all already translated in vim "core." I do not see why they cannot be used as is for MacVim's text-based *message*.

[2019-12-12 16:31] eirnym commented on #991
I agree with you. The language selection in MacOS applications is done in a different way than in terminal and for other systems. To make it consistent other translations has been disabled.

If you insist, I can give you the exact answer what is the problem with enabling localisation.

[2019-12-13 13:13] ychin commented on #991
Let me take a look.

[2019-12-13 20:06] isaki opened #992 "Window Menu Bug on macOS 10.15.2"
**Describe the bug**
The Window menu has many repeated, duplicate entries. This is similar to #566 and #593.

**To Reproduce**
TBD

**Expected behavior**
The menu should not have so many duplicates.

**Screenshots**
![image](https://user-images.githubusercontent.com/10616227/70828592-a86b9700-1db9-11ea-8e92-77edba2bf101.png)

**Environment (please complete the following information):**
 - Vim vers

[2019-12-13 23:26] eirnym commented on #992
@isaki Thank you for an issue,

This is a known bug (#566). The original issue was about the `Full Screen`, this is an additional menu which is broken. I bet the source and the way to reproduce is the same

[2019-12-16 19:12] isaki commented on #992
I can reproduce it when no windows are open. Keep opening and closing the same file from the command line.

![image](https://user-images.githubusercontent.com/10616227/70935305-e4973580-200d-11ea-903c-25d138445ce4.png)

**Steps Taken:**

- touch a file (call it foo.txt)
- Repeatedly open and close foo.txt with /Applications/MacVim.app/Contents/bin/gvim
- See the above behavior when all windows are

[2019-12-16 19:14] isaki commented on #992
I've got it for windows open as well.

![image](https://user-images.githubusercontent.com/10616227/70935492-4192eb80-200e-11ea-82ea-1f6faf59641e.png)

**Steps Taken:**

- touch 2 files (foo1.txt, foo2.txt)
- Open both files with /Applications/MacVim.app/Contents/bin/gvim
- Repeatedly open and close foo2.txt
- See the above behavior

[2019-12-16 22:08] eirnym commented on #992
@isaki It's true, this menu items are connected to the same source.

These additional menus are added and removed by macOS event handlers. The additional check should be done here. AFAIK, any other menus are not duplicated accidentally

[2019-12-17 12:39] 0xDP opened #993 "Wrong cursor placement and selection when using mouse"
**Describe the bug**
Clicking with the mouse beyond the end of a line not always put the cursor at the last character. When selecting a whole line with the mouse, the selection stops at the same position as when clicking beyond the end of the line.

**To Reproduce**
Detailed steps to reproduce the behavior:
1. Run mvim -u NONE -U NONE -c ':help ls'
2. Click beyond the line starting with "Each buff

[2019-12-17 13:40] markwu commented on #993
Yes, I get the same bug.

[2019-12-17 13:58] eirnym commented on #993
I confirm it, but this should be tested also on `GVim` and previous versions to make sure where this bug was introduced.

[2019-12-18 23:50] isaki commented on #992
@eirnym Please let me know if there is something you want me to test or if you need more information. I'm more than happy to help in any way I can!

[2019-12-19 09:42] hukl commented on #626
Hmm I tried it just now and your example does not seem to work in my up to date MacVim

let g:terminal_ansi_colors = s:test_colors;

This line produces an error. Am I right to assume that I should put your example in my vimrc?

[2019-12-19 11:51] ychin commented on #992
This seems to be the same bug as the other listed ones (#566), except in Catalina it is worse. I actually haven't upgraded to Catalina yet, but I probably should, but it's really the same issue (I think).

[2019-12-19 11:54] ychin commented on #993
Huh, this doesn't happen on 8.1.2234 (the version with a released binary). I will need to take a look. Also, given Vim 8.2 is officially out I need to merge and see if it's fixed.

[2019-12-20 19:24] jlconlin opened #994 "Update to Vim 8.2"
I would like MacVim updated to Vim 8.2. I could do this on my own and submit a PR, but I don't know what it entails; i.e., I don't know where MacVim ends and where Vim begins.

[2019-12-21 03:44] madmansnest opened #995 "MacVim does not display Tibetan Text properly"
Even though in latest OS X versions there has been no problems with Tibetan text display, and even though MacVim uses the standard NSTextView, it still fails to display Tibetan text properly, just like Terminal.app used to many OS X versions ago.

To Reproduce: Open MacVim and input some relatively complex Tibetan text like ཧཱུྃ། or བསྒྲིགས་པ་. In order to see what it should look like, open TextEd

[2019-12-23 12:09] 0xDP commented on #993
It seems to be that the following chunk from patch 8.1.2304 causes this issue:
[code]
In 8.2 that chunk is gone (patch 8.1.2321 moves it to another function) so I expect that going to Vim 8.2 will fix this issue.

[2019-12-23 14:15] eirnym commented on #995
@madmansnest Thank you for an issue,

It's true, that some font parameters are not loaded from font correctly, but not many people was interested in it earlier. You can try to modify `linespace` manually to make things a bit smoother for now.

[2019-12-23 14:18] eirnym commented on #995
Could you share with us a bit more information, such as some texts and the font you use (it's home page is preferable and tell if it's free-to-use (it'll be much harder to test the same over a paid one)

[2019-12-23 14:21] madmansnest commented on #995
Text Example:
ཧཱུྃ༔ ཨོ་རྒྱན་ཡུལ་གྱི་ནུབ་བྱང་མཚམས༔
པདྨ་གེ་སར་སྡོང་པོ་ལ༔
ཡ་མཚན་མཆོག་གི་དངོས་གྲུབ་བརྙེས༔
པདྨ་འབྱུང་གནས་ཞེས་སུ་གྲགས༔
འཁོར་དུ་མཁའ་འགྲོ་མང་པོས་བསྐོར༔
ཁྱེད་ཀྱི་རྗེས་སུ་བདག་བསྒྲུབ་ཀྱི༔
བྱིན་གྱིས་བརླབ་ཕྱིར་གཤེགས་སུ་གསོལ༔
གུ་རུ་པདྨ་སིདྡྷི་ཧཱུྃ༔
Font download page:
https://collab.its.virginia.edu/wiki/tibetan-script/Jomolhari.html

[2019-12-23 16:36] robacarp opened #996 "Catalina 10.15.1, MacVim 8.1.2234 full screen before sleep, full screen is broken on wake"
**Describe the bug**

After waking the computer up, MacVim which used to be full screen is no longer full screen. The "full screen window" where MacVim is supposed to live is still there, but the MacVim window itself is not full screen, and exists on a Desktop "window". I'm not sure of the correct term here, but by "window" I mean the full screen switcher which appears at the top of the screen whe

[2019-12-24 03:58] ychin commented on #995
MacVim actually doesn’t use NSTextView by default and uses CoreText renderer to get more flexibility in how it renders text. I will need to take a look but this is likely similar to other font issues we have had.

[2019-12-24 04:00] ychin commented on #996
Hi @robacarp did you only see this after updating to Catalina? I haven’t updated myself yet but if you confirm that’s the case it will be a little easier for me to isolate and test the issue.

[2019-12-24 16:49] robacarp commented on #996
@ychin correct, I did not see the error before updating to Catalina.

[2019-12-24 22:47] eirnym commented on #996
I tested MacVim as following and couldn't reproduce the issue:

open `mvim -gf --clean` as fullscreen, selected other application and nothing has happened with it in 20 hours of sleep.

I'll test with the same conditions over night, but left MacVim selected

[2019-12-24 22:50] eirnym commented on #996
@robacarp Could I ask you to do a clean install of plugins, just for a test

[2019-12-27 16:58] robacarp commented on #996
@eirnym I will do that, yes.

[Here is a screencast](https://imgur.com/a/j0LPbwd) with both keyboard and mouse annotations that shows some of the behavior I'm talking about. In this case, I wasn't paying attention and closed the vim window which had been de-full-screened, but opening a new window shows essentially similar behavior. I was able to open a window with the terminal command `mvim`, but

[2019-12-28 13:03] eirnym commented on #996
I see, this behavior should be fixed, I don't know any reason, though

I'm sorry, I've forgot to ask you for your MacVim's settings which are not stored in `.vimrc` file.

[2019-12-30 22:30] robacarp commented on #996
@eirnym I'm not positive what you're asking for, but here are a few screenshots. If this isn't what you need, let me know.

![image](https://user-images.githubusercontent.com/208647/71603269-48932100-2b19-11ea-968c-7dcfd6a75358.png)

![image](https://user-images.githubusercontent.com/208647/71603273-4cbf3e80-2b19-11ea-97a3-83c5872455d6.png)

[2019-12-31 11:10] ychin commented on #996
@robacarp Do you mind including your settings by doing the steps listed in https://github.com/macvim-dev/macvim/wiki/Reporting-an-Issue ?

[code]

[2019-12-31 16:25] robacarp commented on #996
@ychin sure, no problem.

[code]

[2020-01-02 13:07] akrabat commented on #450
For anyone who ends up here via Google, the preferred method to install via Homebrew seems to be the cask:

[code]

will install MacVim into `/Applications` and also set up `/usr/local/bin/vim` & friends for you:

[code]

[2020-01-05 02:26] 9mm commented on #860
How did you get the dark mode to work? I've tried everything I can think of and macvim always looks like this...

![image](https://user-images.githubusercontent.com/1386207/71774215-a5c71200-2f1f-11ea-9af3-b7ca712912d1.png)

[2020-01-05 02:26] 9mm commented on #860
@kieve

[2020-01-09 01:35] mathsaey opened #997 "Unable to permanently remove fullscreen button from touchbar"
**Describe the bug**

I have removed the "toggle full screen button" from my touchbar by putting the following in my gvimrc:

[code]

However, once I re-enter fullscreen once, the button reappears. I'm guessing that this is related to the logic that toggles the button between "enter fullscreen" and "leave fullscreen".

**To Reproduce**
1. Place the snippet above in `.gvimrc`
2. Start macvim (if no

[2020-01-09 07:50] eirnym commented on #997
@mathsaey Thank you for an issue,

it's true, as the code handling this will be executed every time. The funny thing, I wonder why it won't be added _every_ time you exit from fullscreen. Probably Apple handles this well.

[2020-01-12 04:31] markwu commented on #994
Hi,

Does there any schedules to patch macvim to vim 8.2?

Mark

[2020-01-14 17:53] ychin commented on #997
Will fix this next update. It was a mistake in the way I set it up.

[2020-01-14 17:54] ychin commented on #994
This is done. Apologies for the delays.

[2020-01-14 17:54] #994 closed

[2020-01-14 17:55] ychin commented on #994
Commit is https://github.com/macvim-dev/macvim/commit/a1cb3f34bbd913a2e145f858041d9e7689d80a44.

Also made a page to describe the upstream merging process: https://github.com/macvim-dev/macvim/wiki/Merging-from-upstream-Vim

[2020-01-14 18:02] ychin commented on #993
This should be fixed by the latest merge.

[2020-01-14 18:02] #993 closed

[2020-01-15 22:02] eirnym commented on #994
@ychin Would you make a release with new ViM features or it's too early to speak about it?

[2020-01-16 16:06] robacarp commented on #996
I realized this morning that my touch bar has a pending question on it. I don't know the text of the question, but it's the one where a file has changed and vim wants to know if it should load the file from disk or not. I was able to see the response buttons on my touch bar, but the popup modal was nowhere to be found.

[2020-01-17 17:05] eirnym commented on #994
@ychin I'd happy to see a release just with ViM update, to be honest. I know there's a lot of issues in MacVim part, but ViM part is more important for me now

[2020-01-18 15:09] kieve commented on #860
@9mm I don't recall. I think I just had my OS set to dark theme, and it just worked.

[2020-01-20 13:55] ychin commented on #994
Yeah I'll work on it. Need to clean up the CI and make sure it builds on Travis first.

[2020-01-22 17:45] aantonello commented on #986
I want to add some comments on this thread becouse I was facing this same problem. I was stucked at version 8.1 (patches 1-1722) and unable to upgrade. Today I spent some time investigating the problem and found a solution that worked for me and can work for others too.

I thing everything started becouse of compiled python versions on MacVim. Until patch 1722, Macvim was compiled to support only

[2020-01-23 16:12] jlconlin commented on #994
Thanks @ychin for merging in Vim 8.2. I cloned and downloaded this morning and was able to compile. However, when I tried to run vim I get this error:

[code]
When I try to open MacVim, I get an error that the application is damaged or incomplete.
![Screen Shot 2020-01-23 at 9 10 29 AM](https://user-images.githubusercontent.com/1275437/73001806-42166300-3dc0-11ea-97a1-465f8d69f039.png)

I'm compil

[2020-01-24 16:24] eirnym commented on #994
@jlconlin you don't need to set prefix as it's local to resulted `MacVim.app` and other flags except python3 are implied for MacVim repo

[2020-01-30 14:45] bateller commented on #989
I'm currently using the latest Snapshot on Catalina with no issues (also not through brew).

Try upgrading Catalina (and reinstalling MacVim).

The latest update for Catalina (as of Jan 30th 2020) is 10.15.3

[2020-02-02 01:28] AmaruCoder opened #1000 "Version 8.1 (Included patches: 1-2234) breaks support for long paths"
**Describe the bug**
When the path for the file being opened is longer than 66 characters, MacVim shows "Press ENTER or type command to continue." This is something that did not happen in previous versions. This does not happen in the terminal.

**Environment (please complete the following information):**
 - Vim version:
VIM - Vi IMproved 8.1 (2018 May 18, compiled Oct 30 2019 11:57:56)
macOS vers

[2020-02-04 15:46] hujianxin opened #1003 ":py3 command does not work in macvim launching from dock"
**Describe the bug**
:py3 command works correctly in mvim which launches from terminal, but does not work in mvim launching from dock.

**To Reproduce**
Detailed steps to reproduce the behavior:
1. launch macvim from dock
2. :py3 import subprocess
3. :py3 print( subprocess.Popen('rg ""', shell=True, stdout=subprocess.PIPE).stdout.read() )
4. show nothing

**Expected behavior**
1. launch macvim fro

[2020-02-04 15:51] hujianxin commented on #1003
[code]

[2020-02-04 15:52] hujianxin commented on #1003
`brew install macvim` also doesn't work properly

[2020-02-04 20:29] eirnym commented on #1003
@hujianxin Thank you for an issue,

Could you check `PATH` environment variable in ViM while run from terminal and from dock. I suspect that values are different.

If this is a case, you can alter `/etc/paths` and/or `/etc/paths.d` to make your `py3` in `PATH`. This is likely not a bug, but difference in values of environment variables.

[2020-02-04 20:36] eirnym commented on #1003
Could you ensure, that `rg` program is in your `PATH` in both cases? You can do it by `:echo $PATH` in MacVim and if not, edit `/etc/paths` and/or `/etc/paths.d`, then login-logout

[2020-02-05 00:54] hujianxin commented on #1003
Hi, I can ensure rg is in `PATH`.
![image](https://user-images.githubusercontent.com/9526904/73801358-24e88800-47f5-11ea-9ac6-291824328fd8.png)

[2020-02-06 11:40] ychin commented on #450
They do behave somewhat differently, as Homebrew directly checks out the repository and builds the code locally, which is a somewhat more involved step and allows you to check out later changes than casks, which only distribute binaries built by us when I do a release.

[2020-02-07 19:25] adudek16 commented on #1000
IMHO, this is upstream with VIM. You should probably open an issue there.

[2020-02-09 14:45] eirnym commented on #1003
Could you print out the `$PATH` from `py3` as you run the command from there?

[2020-02-09 14:48] eirnym commented on #1000
@AmaruCoder if you open an issue in the upstream, please, link it back here

[2020-02-09 14:49] hujianxin commented on #1003
Sure!
`:py3 print(os.environ[PATH'] )`
![image](https://user-images.githubusercontent.com/9526904/74104295-57e0a200-4b8e-11ea-9e04-9433ff9bfb1d.png)

[2020-02-09 14:49] hujianxin commented on #1003
@eirnym

[2020-02-09 14:52] eirnym commented on #1003
Have you checked both runs, from terminal and from dock?

[2020-02-09 14:58] hujianxin commented on #1003
Yes, I have checked the following situations

1. terminal macvim: works
2. terminal nvim: works
3. vimr(gui nvim) lanched from dock: works
4. macvim launched from terminal: works
5. macvim launched from doc: not work

And, not just I met this issue, other guy met it either.

[2020-02-09 15:01] hujianxin commented on #1003
Actually, I'm using `LeaderF` extension which privides Fuzzy file finding function like FZF. this extenssion does not work in macvim launched from dock. So I checked `py3 print( subprocess.Popen('rg ""', shell=True, stdout=subprocess.PIPE).stdout.read() )
`, and found something different macvim launched from terminal and launched from dock.

[2020-02-09 16:07] eirnym commented on #1003
I use this extension as well, but in most cases launch MacVim from terminal.

now when I run MacVim from dock:
* `rg '' | cat` in terminal works as expected
* `:!rg ''` works as expected
* if I execute `subprocess.Popen('rg ""', shell=True, stdout=subprocess.PIPE).stdout.read())` it will fail as it requires stderr
* if I execute  `subprocess.Popen('rg ""', shell=True, stdout=subprocess.PIPE, stder

[2020-02-09 16:14] eirnym commented on #1003
You can reproduce it with a simple program, where if stdin is not closed, it will print out a lot of output:

[code]

[2020-02-10 05:11] AmaruCoder commented on #1000
[Issue opened in the upstream](https://github.com/vim/vim/issues/5609#issue-562328187)

[2020-02-13 13:31] robacarp commented on #996
I’m experiencing similar issue with another app, Alfred. They’re describing the issue slightly differently but I think the root cause is likely the same. https://www.alfredforum.com/topic/14110-alfred-406-toggle-breaks-on-catalina/

[2020-02-16 00:59] AmaruCoder opened #1005 "iTerm reports error on exit"
**Description**
Once in a while, when I exit MacVim (gvim), after opening a file from `Ranger`, I get the error message of the form: `MacVim[9999:99999] *** [NSMachPort hadnlePortMessage:]: dropping incoming DO message because the connection is invalid.`

**To Reproduce**
1. Open a file file in `MacVim` from `Ranger`.
2. Quite `MacVim` issuing `Command-Q`.
3. See the error in `Ranger`.

**System**

[2020-02-17 17:31] eirnym commented on #1005
@AmaruCoder Thank you for an issue,

Linking #359 to track this issue from single place

[2020-02-20 14:00] johnnyutahh opened #1006 "How to keep window size fixed when zooming font?"
How can one keep the window size fixed when zooming font?

This is growing to be a critical feature for me. Managing a multiple-display-monitor without this becomes quite tedious. [VimR](http://vimr.org) and [iTerm2](https://apple.stackexchange.com/questions/92173/how-to-prevent-terminal-from-resizing-when-font-size-is-changed/222329#222329) can do this.

From 2014, 2015:
https://superuser.com/que

[2020-02-20 16:15] ychin commented on #1006
Use `set guioptions+=k`. I have contemplated making this the default, but generally followed the conservative "don't change defaults" Vim mentality though I'm still back-and-forth on this.

[2020-02-20 16:50] johnnyutahh commented on #47
Any recent thoughts on this topic (porting MacVim to a Neovim "core")?

[2020-02-27 13:39] numbcoder opened #1007 "Release a new snapshot for Vim 8.2"
The latest snapshot is outdated，could you make a new release?

Thanks for your work. It would be better to make a new release with new Vim features automatic by the CI once a month.

[2020-03-01 12:12] #997 closed

[2020-03-01 16:15] BaksiLi opened #1009 "Cannot import python 3 (python 3 -) for Python 3.7.3"
**Describe the bug**
After I updated system python to 3.7.3 stable from 3.7.1, macvim failed to import python 3.

So I typed `brew reinstall macvim` to recompile vim so that the new library could be loaded correctly. But it didn't work since macvim has not supported 3.7.3.

Please update this.

**Expected behavior**

[code]

**Environment (please complete the following information):**
 - Vim: late

[2020-03-01 16:56] BaksiLi commented on #1009
I solved this problem temporarily by modifying `~/Library/Caches/Homebrew/macvim--git/src/if_python3.c` as shown in [MacVIM - Python 3 Error](https://stackoverflow.com/a/48043037/8780437).

Also, I believe if you install an older version of python 3, say [python 3.7.3](https://www.python.org/downloads/release/python-373/), the problem can also be solved.

[2020-03-02 11:53] pechorin commented on #1007
Yeah, waiting for macvim 8.2 with popup windows support.

[2020-03-02 19:08] eirnym commented on #1009
**My environment:** I have MacVim from Github (official build) and Python3.7.6 from MacPorts (from `Homebrew` and `python.org` will work as well).
(in a little while will be with the latest git version - b93473f2e)

I have `:py3 1+2` at the beginning of my `.vimrc`, so I disable `py` command entirely.
I've tried `:py3 import sys; print(sys.version)` and it shows `3.7.6 …` as it should be
I've trie

[2020-03-02 19:16] eirnym commented on #1009
And if it's really a problem in `if_python`, they you need to address it to the [upstream](https://github.com/vim/vim)

[2020-03-02 19:19] eirnym commented on #1009
I've tested with the latest commit I've mentioned, with MacVim and tests were the same as above. Everything worked as usual, nothing was broken.
Commands I use to build locally were these:

[code]

[2020-03-02 19:22] eirnym commented on #1009
@BaksiLi My opinion is maintainers of `Homebrew`'s formula have changed something or added some restrictions and so you can't use normally `py3` command. Please, contact them and ask to fix the issue. As it was mentioned before in this repo, they fix it in a short period of time.

[2020-03-02 19:35] dave-kennedy opened #1010 "Can't open new window when SHELL=bash"
**Describe the bug**
When starting MacVim via the command line (with gvim or mvim command), I'm unable to open a new window with Command-N or File > New Window. Each time I try, a new process is started in the background. It seems to work when I unset my SHELL environment variable.

**To Reproduce**
Detailed steps to reproduce the behavior:
1. Run `export SHELL=bash`
2. Run `gvim --clean`
3. Go to

[2020-03-02 21:19] eirnym commented on #1010
@dave-kennedy Thank you for an issue

I confirm that when I replace `SHELL` variable with `bash`, I have a problem to open a window, but when I changed my shell to `/bin/bash`, I was able to open a new window without any problem

[2020-03-03 02:41] treaves commented on #1007
A lot of OSS have a 'nightly' feed that is the last successful build of the day.  In the 'Check for Updates' feature, 'Nightly' can be enabled to pull this.  Otherwise it's the semvar releases.  This would be good to implement.

[2020-03-03 05:55] numbcoder commented on #1007
@treaves Yes，add a 'Nightly' build would be more suitable.

[2020-03-03 11:14] #1006 closed

[2020-03-03 11:58] ychin commented on #1007
A release will be made today or tomorrow.

I do want to apologize for the long period of inactivity in this repo / releases. It's been difficult to juggle professional responsibilities and dedicating time to MacVim development.

As for the suggestion to add Nightly build, a complication is the issue with code signing and notarization and I haven't been able to find an easy way to deploy this in a

[2020-03-03 12:36] pechorin commented on #1007
Thanks for this project and response, hope one day this automation problems will be possible to solve.

[2020-03-03 12:37] numbcoder commented on #1007
@ychin You needn't to apologize to anyone.
As we all know, maintain a large open source project is extremely complicated and difficult. I'm sorry for my unreasonable request.

Thanks for your great work!

[2020-03-03 12:37] #1007 closed

[2020-03-03 12:45] treaves commented on #1007
Have a look at how VimR does nightly releases perhaps.

https://github.com/qvacua/vimr

[2020-03-03 16:08] core-code opened #1011 "version numbers is snapshot 162 broken"
the version number in snapshot 162 is broken. this is a regression from snapshot 161

<img width="236" alt="Screenshot 2020-03-03 at 17 05 25" src="https://user-images.githubusercontent.com/1261954/75794694-72630100-5d71-11ea-826a-bb07d020e56d.png">
<img width="258" alt="Screenshot 2020-03-03 at 17 05 21" src="https://user-images.githubusercontent.com/1261954/75794701-74c55b00-5d71-11ea-99d1-d3fd6

[2020-03-03 18:00] ychin commented on #1011
Yes this is a mistake in the parsing code. Will be fixed in next version.

[2020-03-03 18:04] core-code commented on #1011
awesome, thanks!

[2020-03-03 18:20] eirnym commented on #1011
as well it was said in Sparkle, that it was a 8.**3**.319 instead of 8.2.319

[2020-03-03 18:37] eirnym opened #1012 "Python 3.8 instead of Python 3.7"
It's time to move on to python 3.8. It was released half a year ago and vim core supports it. Most libraries which had supported python 3.7 also have support for python 3.8

[2020-03-04 08:13] hdatma opened #1013 "umask (forwarded from vim)"
## umask test from the command line:

    umask 0022
    /Applications/MacVim.app/Contents/MacOS/Vim --clean testfile_umask -c ':wq'
    ls -l testfile_umask
    -rw-r--r-- 1 me staff 0 Mar 3 20:34 testfile_umask

## same test from the GUI:

    new tab
    i
    sample text
    esc
    File > Save As > Desktop > Untitled.txt

    ls -l ~/Desktop/Untitled.txt
    -r--r--rw- 1 me staff 5 Mar 3 20:3

[2020-03-04 08:31] AKielhorn opened #1014 "Build script error due to space in "Macintosh HD""
**Describe the bug**

I am currently moving from System 10.1 to System 10.3 (yes, I'm late).
I have all my sources on my primary disk, known as "Macintosh HD".

I'm building on System 10.3.
This results in the following error:
`
PhaseScriptExecution Copy\ mvim\ scripts /Volumes/Macintosh\ HD/Users/axel/src/macvim_10.13/src/MacVim/build/MacVim.build/Release/MacVim.build/Script-52283AB71EBA200C00A6F

[2020-03-04 10:30] eirnym commented on #1013
@hdatma I appreciate that you've forwarded an issue here. Could you add a description to make it easier to discuss the issue?

[2020-03-05 08:45] ychin commented on #1012
Homebrew is still at 3.7.6: https://formulae.brew.sh/formula/python

There are some discussions here (https://discourse.brew.sh/t/why-python-3-8-has-not-been-updated-yet/6057/16) and there is a ticket (https://github.com/Homebrew/homebrew-core/issues/47274) tracking this migration.

Given that Homebrew hasn't switched over I prefer to not upgrade until they do it. Part of the reason is that it com

[2020-03-05 11:14] ychin commented on #962
See #948 for the resizing issue as it's a different thing from tabs.

[2020-03-05 11:31] ychin commented on #47
This probably will not happen in foreseeable future. It's a pretty significant amount of work to port MacVim to Neovim, in particular because there are a lot of modifications to Vim source code to allow for MacVim to happen. Porting to Neovim means redoing all those work *and* maintaining a cross-compatible code base. While Neovim is more designed for plugins and therefore should require less intr

[2020-03-05 13:11] eirnym commented on #1012
I still don't agree with an idea "all ports should use one _true_ python/java/(any other tool)". I'm asking about only Github version.

My personal opinion, that if Homebrew wants to stay behind using following ideology of "one true ..", they can patch `vimrc` and other defaults as they pleased.

[2020-03-05 16:53] 9mm commented on #948
@ychin that would be amazing. Do you know if that's still the plan? FWIW VimR does a really good job of this (handling the smooth resizing while still having vim interface 'snap' to the text line height). It basically creates <= 1 line of black space above the status bar, and when it gets > 1 it adds another line and goes back to <= 1 line of black space.

[2020-03-06 20:13] eirnym commented on #1012
I understand, that my proposition is not very nice, but Homebrew as any other package manager has much greater mobility to change params, code, and other things than users who use releases from Github like me.

Unfortunately, simply specifying python3.8 in a library path doesn't work well for me.

[2020-03-08 10:34] eirnym commented on #1013
`umask` is a shell command to a system call which sets `umask` to a process tree, no environment variables and settings involved. If you create a process from another one which is not in this tree, it won't inherit a umask.

It's an intended behaviour between `umask`. If you need very special `umask` controlled by your `vim` session, please ask them to expose `umask`.

**Long story short**
If you

[2020-03-09 11:57] #1011 closed

[2020-03-09 12:46] hdatma commented on #1013
My test: a fresh login, without Terminal, a fresh MacVim launched from /Applications, a fresh text inside of it, and a "save as" action to the Desktop. The permissions of the resulting file are "-r--r--rw-".

MacVim is the only app doing this crazyness.

To trace back the problem, I tried /Applications/MacVim.app/Contents/MacOS/Vim from the Terminal, and the permissions are correct.

The problem,

[2020-03-09 13:51] eirnym commented on #1013
MacVim has been started with your default `umask` specified by a system administrator (default is `022` as per documentation). You can try to change it in your global account settings (probably you should go deeper than default UI to do this).

after GUI app has been started, every next window is a separate process. This made by MacVim to make it's easier to control. So if you run another MacVim f

[2020-03-09 13:57] eirnym commented on #1013
I suppose you have set `umask` in your `profile` scripts and you want to propagate it to MacVim as well. These files are not read by GUI environment in macOS and any GUI apps automatically as far as I know if it's not said explictely. Under `Linux`, you have startup scripts where you can set environment for the whole GUI, I don't know if there _any_ similar options for current versions of macOS. t

[2020-03-09 15:15] chdiza opened #1017 "The new commit to fix version parsing is broken"
Here's what I see at the end of a configure run:
[code]

[2020-03-09 18:45] ychin commented on #1017
What macOS version or environment are you running? It worked on my machine and in CI.

[2020-03-09 19:41] eirnym commented on #1017
I confirm that it works well for my env too. (Catalina)

[2020-03-09 23:14] vbrinnel opened #1018 "[Feature request]: Vertical tabs"
It would be really great being able to set the tab bar location to the left, like so (example from iTerm2):

<img width="1197" alt="Screen Shot 2020-03-10 at 00 12 22" src="https://user-images.githubusercontent.com/17532220/76265109-f6325700-6263-11ea-8a15-be36dc1c3e0f.png">

Best!

[2020-03-10 10:12] ychin commented on #1018
This probably requires a revamp of the tab system or using a new version of PSMTab (which iTerm2 is using). Either way would be a little bit of work, so it could happen but unlikely to be any time soon.

[2020-03-10 12:32] vbrinnel commented on #1018
I see, thank you for the feedback!

[2020-03-10 14:24] chdiza commented on #1017
Mojave.  Even if I clone the repo afresh, I still get it.

[2020-03-10 14:26] chdiza commented on #1017
My `./configure` flags:
[code]

These flags have worked for years.

[2020-03-10 14:31] chdiza commented on #1017
Found the problem: you should change the `grep` invocation to use the full path of the macOS system `grep`.  I have a custom `grep` (GNU), and it was being called by the configure script.  Apparently some difference between BSD grep and GNU grep is popping out in the new commit.

[2020-03-10 14:32] chdiza commented on #1017
Alternatively, perhaps putting back the double-quotation marks that the commit removed would do the trick.

[2020-03-10 19:28] rahul342 opened #1020 "macvim url scheme with line number is broken"
**Describe the bug**
mvim url scheme with line number is not working on the latest release (Snapshot 162)

**To Reproduce**
Detailed steps to reproduce the behavior:
1. open a url with line number param (e.g. `mvim://open?url=file://%2FUsers%2Frahulagrawal%2FCode%2Flimebike-web%2Fspec%2Fservices%2Fbike_scan_processor_spec.rb&line=87`)
2. With 162 installed, the file opens but not set to the line n

[2020-03-10 19:29] rahul342 commented on #1020
cc @frarees (Sorry if this is not related to your commit)

[2020-03-10 20:39] frarees commented on #1020
It is related to #1002 definitively. So I'm not sure if RFC 2396 defines what happens when a query value is a URI itself, if it need to be re-encoded or not. Is there somewhere a statement on this specific scenario?

In your case, not re-encoding (e.g. `mvim://open?url=file:///Users/rahulagrawal/Code/limebike-web/spec/services/bike_scan_processor_spec.rb&line=87`) works on 8.2.319+.

This is what

[2020-03-10 22:18] ychin commented on #1020
Yeah that seems directly responsible for the issue. I’ll take a look tonight. We should add a regression test as well (which a lot of MacVim-specific features don’t have, unfortunately).

[2020-03-12 14:07] MartinDelille opened #1022 "macvim installed with brew cask doesn't work anymore"
**Describe the bug**

*macvim* crash at startup.

**To Reproduce**

[code]
$ vim --version
VIM - Vi IMproved 8.2 (2019 Dec 12, compiled Mar  3 2020 12:05:00)
macOS version
Included patches: 1-319
Compiled by travis@Traviss-Mac.local
[code]

[2020-03-12 17:09] eirnym commented on #1022
Hi @MartinDelille

MacVim 161 is an outdated version and may not work well enough.Current version is 162

Please, drop an issue to maintainers of MacVim cask in Homebrew. They are different people than MacVim's developers.

Meanwhile you may try to check it manually, update/install/reinstall ruby 2.6 or build from source.

[2020-03-12 17:13] eirnym commented on #1012
@ychin BTW, Your response sounds like "you use Homebrew/MacPorts to use MacVim with Python3.8 (and more likely 3.7) or build and maintain it manually".

[2020-03-12 18:20] antoine1fr opened #1023 "Explain how macvim differs from vanilla vim"
I couldn't find anywhere (README, website, FAQ) what macvim is about and how it relates to the official Vim project.

**Is your feature request related something that is currently hard to do? Please describe.**
It is hard to understand what macvim is. The website only mentions "Vim - the text editor - for macOS", which is confusing given that 1) Vim already ships with macOS and 2) there already is

[2020-03-12 19:27] ychin commented on #1023
I’ll update the README or the website  to explain this. The status of our README is pretty bad so it deserves some clean up.

But basically MacVim is a code fork of Avon (with regular updates) that provides a GUI for Vim on macOS that integrates native OS features. The standard Vim distribution doesn’t really have a functional gVim for macOS which was the reason this project was started (not by me

[2020-03-14 13:44] chdiza commented on #1017
I've isolated it further.  The problem is the regexp in line 14911.  GNU grep doesn't accept the "\d", only "[[:digit:]]".  The macOS (BSD) grep will also accept "[[:digit:]]".

The fix, both versions of which I've tested locally, is thus to either:

(a) In line 14911 replace all three instances of "\d" with "[[:digit:]]", or

(b) In line 14911 change "grep" to "/usr/bin/grep".

@ychin If you let

[2020-03-15 04:16] ychin commented on #1017
@chdiza thanks for isolating the problem. It's a small change so I can just fix it. I will probably do both (a) and (b), since I don't like having different potential grep programs interfering with the script anyway.

[2020-03-15 04:30] #1014 closed

[2020-03-15 04:30] ychin commented on #1014
This should be fixed! Re-open the issue and let me know if it doesn't work.

[2020-03-15 06:49] #1017 closed

[2020-03-16 04:04] ychin commented on #1022
As @eirnym said, please update to the latest version.

This seems to be happening because you have some plugins that depends on Ruby, however, it shouldn't crash like that (it should just complain Ruby cannot be found). Just to sanity check can you try `vi --clean` and see what happens?

[2020-03-16 04:07] ychin commented on #1012
So can you be more specific what supporting "Python 3.8" means?

Are you talking about how we automatically set `pythonthreedll` to be 3.7? Can't you just set that variable to the correct path yourself. The auto-detection is really a clutch because there's no way for Vim to be able to find all possible Python versions for you.

Or did you mean something else?

[2020-03-16 11:36] eirnym commented on #1012
I can't just change `pythonthreedll` as ABI is not compatible between python versions(third number is compatible while second may be not). [PEP-606](https://www.python.org/dev/peps/pep-0606/) to provide backward binary compatibility was rejected.

So I need MacVim to be compiled with python3.8 and I'd like to update official `vimrc` from `3.7` to `3.8`, that's it.

As I've said, Homebrew, Macports

[2020-03-16 12:40] frarees commented on #1020
@rahul342 can you check #1021 see if it works for you?

[2020-03-16 19:22] rahul342 commented on #1020
@frarees Would I need to compile and build your branch to test? What's the quickest way to try your change?

[2020-03-17 06:11] ychin commented on #1020
Hmm I don’t think this needs additional testing. I tried it and it does work and it’s possible to test locally as well

[2020-03-17 14:50] frarees commented on #1020
Sorry for the late response. There are build instruction on the wiki. Snapshot 163 will contain the changes, so you could wait for it to be released too.

[2020-03-19 06:23] #1009 closed

[2020-03-19 19:35] amadeus opened #1026 "Blank newlines inject in command output"
Newlines get generated when the command output updates the current line. This bug is most easily explained by watching this video:

[example video](https://cdn.discordapp.com/attachments/365662117191352320/690281428855947274/example.mp4)

**Expected behavior**
There should be no new lines generated between command output updates.

**Environment (please complete the following information):**
In the

[2020-03-19 21:32] eirnym commented on #1026
@amadeus Thank you for an issue,

1) Please, provide information about macOs version you using
2) Please, try to run with `mvim --clean` to eliminate any settings and personal configuration from the issue
3) Please, run this command in Terminal.app from Vim (if you use release version the app is located in `/Applications/MacVim.app/Contents/MacOS/Vim`) to check if the issue is reproducible there a

[2020-03-19 23:12] amadeus commented on #1026
* I am running macOS 10.15.3
* It reproduces with `mvim --clean`
  * `mvim` launches the gui client
* Running macvim in terminal does a completely different thing, it completely hides macvim and shows the command executing normally, before switching back to macvim, so in that case it does not exist there:
![image](https://user-images.githubusercontent.com/83376/77123046-53fd3680-69fc-11ea-844d-a86

[2020-03-20 12:03] eirnym commented on #1026
Could you provide a command with reproducible output as `git prune` is very specific to local repository?
Could you also try the same command in `gvim` (as in Linux or Windows) **without** `!` option enabled in `guioptions`?

My bet that `git` sees that it's a terminal (even a dumb one as `:!` uses in GUI mode) and tries to output a nice progress which this terminal implementation is processing ba

[2020-03-20 19:15] amadeus commented on #1026
So I upgraded git (`2.23.0_1 -> 2.25.2`), and it seems to have fixed the issues! Thanks for the tip about it being an issue from git

[2020-03-20 19:15] #1026 closed

[2020-03-20 20:13] eirnym commented on #1026
Stay safe :)

[2020-03-23 12:55] jwadamson opened #1027 "No Menus when an editor is open on 10.15.3"
**Describe the bug**
When no editors are open, the menu bar reads: "MacVim File Edit Window Help"
When any editors are open, the menu bar reads: "MacVim"

Losing the native save/new/copy/paste interface is very disorientating.

**To Reproduce**
Detailed steps to reproduce the behavior:
1. Launch MacVim
2. Open/Close Editor windows

**Expected behavior**
Standard menus should be visible.

**Screens

[2020-03-23 13:05] eirnym commented on #1027
@jwadamson Thank you for an issue,

Could you provide a bit more information about your environment?
* From which source do you use MacVim from? Github, Homebrew, MacPorts, or you've build yourself?
* Could you also provide MacVim-specific settings by running from Terminal following command: `defaults read org.vim.MacVim | grep 'MM\|SU'`

Could you also try to run your MacVim without processing `v

[2020-03-23 15:01] MartinDelille commented on #1022
I fixed it: instead of installing macvim with `brew cask install macvim`, I installed it with `brew install macvim`!

[2020-03-23 15:01] #1022 closed

[2020-03-23 17:20] jwadamson commented on #1027
Ok, closing this.

Apparently when I moved from a manual install to brew (and simultaneously moved from having it in my home folder to Applications), I had some residual configuration path and environment variables like bashrc. For example: `VIMRUNTIME=~/Applications/MacVim.app/Contents/Resources/vim/runtime`

[2020-03-23 17:20] #1027 closed

[2020-03-23 17:37] jwadamson commented on #1027
Thank you for your attention, and sorry if I wasted any of your time. It didn't really occur to me how other vim specific configuration could bleed into the macvim app runtime and affect the GUI like that.

[2020-03-23 17:48] eirnym commented on #1027
currently MacVim's menus are populated from scripts, so yes, moving runtime to another folder could change everything

You're welcome

[2020-03-23 23:34] ychin commented on #1027
I’m glad you figured out the issue but I’m curious why you would need to manually set `VIMRUNTIME` in your bashrc. Most Vim installations should have it configured for you and it should be rare that you need to set it yourself.

[2020-03-24 00:59] jwadamson commented on #1027
Would have been quite a while ago, almost certain it was part of trying to shadow the default global vim command line environment with an updated userland MacVim one. I used to keep MacVim in my ~/Applications running as a standard account.

I very well could have just been wrong to do that, but as long as all the PATH references lined up, it probably worked just fine. Guessing I had adopted a vim

[2020-03-25 11:17] ychin commented on #1022
Hmm, `brew install` and `brew cask install` does different things. If you want a binary built by us and updates managed by MacVim, `brew cask install` is the option you want as it just downloads the binary from our releases. `brew install` will build things locally etc.

If you just want a binary you could go to https://github.com/macvim-dev/macvim/releases and find the latest MacVim.dmg to instal

[2020-03-26 13:04] borissov opened #1028 "Go to line parameter in URL Handler"
Hello,
I have problem with go to line parameter in URL Handler. Stop working after update OSX and MacVim.

I use this syntax and work normally on old version:
mvim://open?url=file:///....myfile.php&line=248

Environment:
OSX 10.15.4
MacVim 162
Vim 8.2.319

[2020-03-26 20:02] 9mm commented on #925
This was first for a few months and now it's broken again recently, except now its viewing the source code of the request in the browser....

How do I make it where gx just opens the URL under the cursor in the browser?

[2020-03-27 07:40] eirnym commented on #925
Probably it was broken in upstream again

[2020-03-28 06:05] MartinDelille commented on #1022
I know. I trust more `brew install` than `brew cask install` since binary are build from a third party (homebrew azure pipelines)

[2020-03-28 06:39] eirnym commented on #1022
@MartinDelille it's not true, I use the official release from GitHub for many years without a problem. This release is downloaded by cask, which is a bit outdated

[2020-03-28 07:57] MartinDelille commented on #1022
@eirnym I mean in a general way. Homebrew cask binaries are less secure than classic homebrew binaries. For macvim, I agreed that the build process is clear and totally trustable! 😄

[2020-03-29 13:24] ychin commented on #1028
This is a duplicate of #1020. It was fixed and will be deployed in the next update (https://github.com/macvim-dev/macvim/milestone/11).

[2020-03-29 13:24] #1028 closed

[2020-03-29 13:28] ychin commented on #1022
Just to be pedantic. Technically as the maintainer I can upload a build that I claim to be built by Travis (in fact I have to do something similar by taking a Travis-built binary and sign it under by Apple Developer ID). Travis doesn't sign their generated binary so the release process does require trust in me, so it's correct that `brew install` does remove that (if you trust the code).

[2020-04-01 15:53] ir0nh34d opened #1033 "Python error when executing :shell or :term"
When I execute :shell or :term I get the following error:

Fatal Python error: config_get_locale_encoding: failed to get the locale encoding: nl_langinfo(CODESET) failed
Python runtime state: preinitialized

How do I correct this?

[2020-04-01 17:17] ir0nh34d commented on #1033
I've noticed the encoding is stripped when in the MacVim terminal:

From a Mac terminal:
LANG="en_CA.UTF-8"
LC_COLLATE="en_CA.UTF-8"
LC_CTYPE="en_CA.UTF-8"
LC_MESSAGES="en_CA.UTF-8"
LC_MONETARY="en_CA.UTF-8"
LC_NUMERIC="en_CA.UTF-8"
LC_TIME="en_CA.UTF-8"
LC_ALL=

From within MacVim via the :term command:
LANG="en_CA"
LC_COLLATE="en_CA"
LC_CTYPE="en_CA"
LC_MESSAGES="en_CA"
LC_MONETARY="en_CA"
LC_NU

[2020-04-01 17:22] ir0nh34d commented on #1033
This is related to starting MacVim directly (as an App).  If I start MacVim via:

`open /Applications/MacVim.app`

In a Mac terminal it works fine - so it has to the encoding being stripped when running directly.  Any idea how to correct this?

[2020-04-02 08:02] eirnym commented on #1033
@ir0nh34d Thank you for an issue

I confirm it, but I don't know where it goes from yet.

[2020-04-02 13:24] ir0nh34d commented on #1033
Simply checking:
`:echo $LANG`
in MacVim shows the issue (that's the delta I could find when comparing the env output in MacVim compared to the terminal).  Would it be possible to add a MacVim option to set the encoding (similar in fashion to what the terminal and iTerm2 apps do)?

[2020-04-02 13:27] eirnym commented on #1033
I'll check why this is happens in the first place. It's easy to make a fix when you know where things come from

[2020-04-02 13:31] ir0nh34d commented on #1033
Fair enough - I think it's due to the fact that macOS sets the language at a system level, but there doesn't seem to be a system setting for encoding, so the $LANG variable passed to applications lacks the encoding value.  That said, this is pure guessing on my part.

[2020-04-02 13:48] ir0nh34d commented on #1033
I figured out a temporary fix - in my .gvimrc (so as to not affect terminal vim) I set:
`let $LANG='en_CA.UTF-8'`
Obviously substitute the language per your preference.

[2020-04-04 02:18] jtvoorhies opened #1034 "Highlight feature "gui=strikethrough" does not display strikethrough text."
Highlight feature "gui=strikethrough" does not display strikethrough text.

**To Reproduce**
1. Run `mvim --clean`
2. Create or edit an html file
3. Type `<strike>some text</strike>` or `:highlight htmlStrike`
4. Observe "gui=strikethrough" yet the strike mark is not on the text.

**Expected behavior**
The highlight feature "gui=strikethrough" should show a strikethrough

**Screenshots**
Screensho

[2020-04-07 06:31] ychin commented on #1034
Yeah we should add this. Maybe next release where we look at getting the renderer fix in.

[2020-04-07 06:38] ychin commented on #1033
Thanks for pointing this out. I need to think about how to solve this but I suspect we need to make the GUI version just inject the `.UTF-8` when it's not launched using the Terminal, which is a little hacky but should work.

[2020-04-07 08:27] ychin commented on #1033
Actually looking through the code, I think we just need to call `setlocale` properly to give it the UTF-8 encoding. That said, @ir0nh34d do you know what is causing that Python failure? I don't think it's technically "wrong" to just have `en_US` (without the encoding value specified) as a value for `$LANG` so I'm wondering what tool is not working when that's the case.

[2020-04-07 10:50] eirnym commented on #1033
`!locale` in MacVim and `locale` gives the same difference.
As far as I found in mans and in the Internet, locale variables by convention should have encoding at the end.
It's possible that Apple decided, that locale will contain only language, but Terminal.app has compatibility patch to add 'UTF-8'

How iTerm re-computes locale:
https://github.com/gnachman/iTerm2/commit/e0176db7a3f9a55a6ba1f24814

[2020-04-07 12:51] chdiza opened #1035 "Why have patches 481 through 525 not appeared in the commit list?"
ac23466693b Merged in upstream patchers 480 through 525.

But those commits don't individually appear in the `git log` like they usually do when upstream is merged in.

Is this on purpose?  I like it better when I can see all the little Vim patches.

[2020-04-07 12:53] ir0nh34d commented on #1033
@ychin , I'm assuming python is used as an interpreter of some sort in :terminal mode (I don't specifically invoke python)?  As per the python error, it's expecting the encoding to be specified as part of the locale.

[2020-04-07 13:08] ir0nh34d commented on #1033
It turns out one of the commands I have in my .zshrc invokes python (https://github.com/nvbn/thefuck) so that's what is calling python when a shell starts.

[2020-04-07 17:00] ychin commented on #1035
I screwed up and accidentally cherry-picked my merge commit. Will fix.

[2020-04-07 20:35] ychin commented on #1035
Fixed.

[2020-04-07 20:35] #1035 closed

[2020-04-07 20:45] amadeus commented on #1035
Doesn't appear to be?

[2020-04-07 20:54] chdiza commented on #1035
I don't see it fixed either.

[2020-04-07 21:03] ychin commented on #1035
It's in now. I forgot to push

[2020-04-10 19:08] #1033 closed

[2020-04-10 19:08] ychin commented on #1033
This should be fixed and will be released soon.

[2020-04-10 19:46] ir0nh34d commented on #1033
I've built from source and can confirm the issue has been addressed - thanks for the fix!

[2020-04-10 20:07] eirnym commented on #1033
I want to remind, that iTerm has resigned from this method

[2020-04-10 20:21] ychin commented on #1033
What do you mean @eirnym? Care to elaborate?

[2020-04-10 20:38] eirnym commented on #1033
Yes, I've posted few comments above the link to a [commit](https://github.com/gnachman/iTerm2/commit/e0176db7a3f9a55a6ba1f24814aebeca8b9ed276) how currently iTerm computes LANG variable.

I don't know exact reasons why they resign from just appending a `.UTF-8`, but I believe that the reasons were important enough.

My guess, that they tried to run iTerm2 under `root` or another user with default

[2020-04-11 06:36] ychin commented on #1033
They *are* just slapping "UTF-8" in the end of the `LANG` environmental variable. iTerm allows you to set the encoding you want like native Terminal so you don't see a hard-coded "UTF-8". I don't think there's a lot of value in letting user set their own encoding  in the locale var. They can always manually call `set encoding` and set `$LANG` themselves.

[2020-04-11 07:27] ychin commented on #925
Yeah they broke it in November. Because I didn't release a new version of MacVim for a while it's only surfacing now. I poked on that issue again, although I'm not sure how far it would go.

[2020-04-11 13:37] eirnym commented on #1033
Thank you, I see now. I'm fine with it, as I never met any other encodings in macOS (I'm a user since 10.6)

[2020-04-12 01:08] steakknife opened #1037 "App version of Snapshot 162 release is ".""
Version is reported as '.' from notarized & non-notarized .app within .dmg's.

This may also break Sparkle's self-update ability if that's in-use.

[2020-04-12 06:54] ychin commented on #1037
This was fixed in release snapshot-163 (#1011). Also, this won't affect Sparkle, so you don't need to worry about it (the 8.2.1234 type versioning is mostly just for human-readable displays)

[2020-04-12 06:54] #1037 closed

[2020-04-12 06:55] ychin commented on #1020
163 was released, so you can just grab the latest build or let MacVim update itself.

[2020-04-13 07:19] #266 closed

[2020-04-13 07:19] #912 closed

[2020-04-13 07:19] #933 closed

[2020-04-13 08:26] eirnym opened #1039 "[Regression, minor] Visual defect in MacVim preferences"
**Describe the bug**
MacVim preferences tab transition makes labels overlap over themselves for a second

**To Reproduce**
Detailed steps to reproduce the behavior:
1. Run `vim --clean`  (doesn't really matter)
2. Open preferences (Cmd-,)
3. Switch tabs

you have at least a second to look at this mess

**Expected behavior**
Transition is fast and smooth, like Safari or Mail, or System Settings (as

[2020-04-14 00:57] rahul342 commented on #1020
@ychin seems like the issue still persists.

[2020-04-14 02:00] dx7 commented on #1020
The issue persists here on snapshot 163.

[2020-04-14 03:57] frarees commented on #1020
Seems like the changes break compatibility in quite some places, so I'll take time later today to propose a PR reverting the changes, so that everyone gets it back as it was in 161. I can make my use case work by _re-encoding_ (as shown in my comment above, in case anyone else with a similar issue lands here).

Sorry everyone for the inconvenience.

[2020-04-14 04:55] ychin commented on #1020
Maybe I'm dense but it seems to work for me. @dx7 / @rahul342 can you post the exact URL? Also, if you `%2F` with `/` does it work?

[2020-04-14 06:03] steakknife commented on #1037
@ychin Actually, that's completely untrue. I use a defunct hybrid app called Bodega to scan all Sparkle apps for version updates and it showed up as "." too. The version is stored in the `/Applications/MacVim.app/Contents/Info.plist` as `CFBundleShortVersionString` which is where macOS and Sparkle get the current version from.

[2020-04-14 07:19] ychin commented on #1037
Why do you think `CFBundleShortVersionString` is what Sparkle uses? It uses `CFBundleVersion` (https://sparkle-project.org/documentation/). MacVim publishes an incremental snapshot number (currently at 163) which is actually what Sparkle understands as the version number. The new version is already out so you just need to press the "Check for Updates…" item and it should update itself to latest.

[2020-04-14 07:26] ychin commented on #1039
I'm confused. What has regressed? This is how preference panel in MacVim has worked for like years. It's a minor issue for sure, but I'm not sure why it was tagged as "regression".

The PR you are looking at (#1038) in fact turns off that cross-fade anyway so it will go away next release.

[2020-04-14 12:15] dx7 commented on #1020
Example: `open "mvim://open?url=file://%2Fetc%2Fpasswd&line=10"`.

[2020-04-14 12:21] dx7 commented on #1020
Example: `open "mvim://open?url=file://%2Fetc%2Fpasswd&line=10"`.
Another example is cmd+click url on iTerm2. Both work on snapshot 161.

[2020-04-14 13:40] frarees commented on #1020
Yeah, changes introduced on 162+ make it so that path in `file://<path>` should not be encoded.

161 and previous: path *must* be encoded.
162 and 163: path *must not* be encoded.

This brings back the original question:

Does anyone know how to best comply the standard?

Either way, in order to bring compatibility back, we should _at least_ make it so that it parses encoded paths, as it was. So:

[2020-04-14 14:17] dx7 commented on #1020
That really works without url encoded.

I think that proposed 164 is the best way for now since other apps need time to adapt.

[2020-04-14 20:22] frarees commented on #1020
I sent a PR to bring back pre 162 behaviour. Can you verify it works for you?

[2020-04-14 20:54] ychin commented on #1020
Let me try this out later but is this going to break the white space issue again? If so we should try another solution? I will write a regression test later for catch all the cases we want

[2020-04-14 21:12] frarees commented on #1020
It will break as long as the contents of `url` are not encoded (not sure if the whole `url` or the path without `file://`).

Great, that would help ensure we get it right for everyone.

[2020-04-14 21:33] dx7 commented on #1020
@frarees PR #1040 works like 161 on line number issue.

[2020-04-15 05:27] ychin commented on #1020
I rejected #1040 because that simply moves the behavior back to 161 which doesn't work for cases like file names with space, which seems like a bad trade to me.

Thinking more about it, the issue here is that in your URL, the slashes are escaped to `%2f`. Furthermore, the first two slashes didn't get escaped, but the slashes afterwards are. If you paste your URL (file://%2FUsers%2Frahulagrawal%2FC

[2020-04-15 05:37] ychin commented on #1020
Also note that if you do `:help mvim://` the examples do not escape anything:

[code]

[2020-04-15 05:47] ychin commented on #1039
Anyway, closing this issue because either way it should be fixed in the latest change that will be released in 164.

[2020-04-15 05:47] #1039 closed

[2020-04-15 06:20] rahul342 commented on #1020
@ychin that's what iterm2 generates when cmd+clicking a file path with line number.

[2020-04-15 06:24] rahul342 commented on #1020
We can may be open an issue there, but both of these are popular tools, hopefully we can make them work together.

[2020-04-15 08:16] ychin commented on #1020
Can you be more precise? I have iTerm but I don't use it much so I'm not sure what the exact meaning of "file path with line number". Are you talking about for example make / build outputs?

[2020-04-15 08:59] ychin commented on #1020
In particular I'm curious if this is a specific MacVim integration (that you had to select) or just some generic way iTerm handling of file URLs.

[2020-04-15 09:21] ychin commented on #1020
Is it this? https://stackoverflow.com/questions/38906815/can-i-click-on-a-filename-and-line-number-in-iterm2-to-open-that-file-in-visual

I may have to take a look.

[2020-04-15 14:23] dx7 commented on #1020
@ychin I use iterm2 cmd+click to open an url (file path or web link) with default app. like that overflow question you linked here. my code files open on macvim. maybe it's an inconsistent behavior on the iterm2 side since url works without line number.

maybe macvim could unescape `2%f` as a deprecated behavior to be removed in a near future. just to give time to other apps to adapt their integra

[2020-04-15 19:39] eirnym commented on #1039
I haven't seen this ever in MacVim, but thanks

[2020-04-16 13:48] matthewd commented on #1020
To me, it seems pretty demonstrable that the encoded form must be valid (and should probably be preferred by `mvim:`-URL-generating tools):

[code]

Using the encoded form, those four files can be referenced as:
[code]

Without encoding, I believe they're unavoidably ambiguous.

Now, that's not to say that the unencoded form shouldn't also work -- just like in all other URLs, if the value part con

[2020-04-16 19:44] ychin commented on #1020
@matthewd I think you made a mistake in your example, and that mistake is why I'm resistant to allowing escaped slashes.

The proper file protocol URL for `/tmp/%2fz` is `file:///tmp/%252fz` (You can try this with your own web browser). For `/tmp/x&line=5` the URL should be `file:///tmp/x%26line=5`. Note that slashes are *not* encoded (because they represent the separator) but the "%" is. In your

[2020-04-17 20:34] a-mg opened #1041 "Support OpenType features, like discretionary ligatures and stylistic sets"
Many modern, well-made fonts include "OpenType features" that let you fine-tune typographic settings, like the appearance of `0` (slashed vs. dotted), or single/double story `a`/`g`. Like code ligatures, which MacVim already supports, these features can improve code legibility.

**Is your feature request related something that is currently hard to do? Please describe.**

Currently, it's not possib

[2020-04-19 15:53] mgw-sbic opened #1042 "Question: Can we open a new empty file in a folder from Finder in OSX"
Hi, We often want to create a new, empty file in a specific folder when we are using Finder. Can we two finger click / right click within the folder in Finder and open MacVim so its current directory is that folder? Or is there another way to achieve this?

[2020-04-19 16:13] eirnym commented on #1042
You can use a service called `New MacVim buffer here…` when you press context menu on a folder. If it's not enough, you can create your own using `Automator.app`

[2020-04-19 16:26] mgw-sbic commented on #1042
HI Eirnym, thank you for the answer. I Googled for that phrase, but couldn't find how to enable the Services menu and how to add MacVim to that menu. On Mojave I do not see the Services-> menu in the FInder context menu. Thank you for your help!

[2020-04-19 16:49] eirnym commented on #1042
You can find it in context menu for a folder, not for Finder

[2020-04-20 01:02] mgw-sbic commented on #1042
Hey again Eirnym,

So, the Folder is part of the finder, and I found it thank you! It is fine for me.

[2020-04-20 04:23] ychin commented on #1042
Glad you found it! But yes you should be able to open a menu on either the folder, empty space in Finder, or just Finder -> Services to locate the Services. You can also do `:help macvim-services` for more info:

[code]

[2020-04-20 04:23] #1042 closed

[2020-04-20 04:24] ychin commented on #1041
Probably requires some looking into, but we should support these features.

[2020-04-20 05:17] #1020 closed

[2020-04-20 05:17] ychin commented on #1020
I made a workaround that should fix this. Will be out next releease.

[2020-04-20 11:58] matthewd commented on #1020
Agreed. But if you copy that `file://` URL and paste it into the GitHub search box at the top of this page, and then look at the resulting URL, you will find that the way you pass it inside a querystring value, according to your browser, is to encode it again. And that's what we're doing here: the `mvim:` bit isn't a static string prefix, but a nested URL. Assuming your browser encodes as aggressi

[2020-04-20 12:20] frarees commented on #1020
That could totally be it. And since it's both breaking compatibility for some users and seems people have been happy for a long time before, I proposed to just go back to how it was (#1040). Either way, it's great that there's a discussion going on how to do this right.

This is how I made it work with the original implementation (161 and previous):

[code]

As you see, I had to do the encoding tw

[2020-04-20 12:30] matthewd commented on #1020
@frarees does this help it feel any less wrong?

[code]

[2020-04-20 13:47] frarees commented on #1020
@matthewd it does. It helps understand there's the `file://<encoded contents>` and the `mvim://<encoded contents>`, whereas in my example it feels like there are two encodings cause the program is decoding the same thing twice.

[2020-04-20 22:02] ychin commented on #1020
@matthewd There are a couple things going on here, but I think we should at least agree that this issue's original URL is not formed properly? It looks like this:

File: `/tmp/file name.txt` -> URL: `file://%2Ftmp%2Ffile%20name.txt`.

Either way the space should be encoded one more time than the slash. Either of the two would work depending on the encoding scheme:

* (No encoding) `file:///tmp/fil

[2020-04-21 02:46] matthewd commented on #1020
Oh!

Oh oh!

Sorry, I definitely should've at least checked the latter. This has worked so reliably for me (both from iTerm and elsewhere) for so long, and I apparently just assumed I'd opened space-containing paths from iTerm along the way. 😔

Sooo.... my revised proposal is that MacVim should double-decode [and that ideally URL-building applications _should_ double-encode], but that MacVim also

[2020-04-21 06:52] ychin commented on #1020
On first glance, this seems ok. It's kind of an ugly compromise that basically works either either method, and with special characters like "%" we need the double-encoding for it to work (I think spaces are the main benefits of it). It's a strictly looser set of allowed input than old MacVim.

I still need to think about this a little. Magic behaviors with ambiguities in APIs can sometimes leads t

[2020-04-26 12:45] davetron5000 opened #1044 "Invalid argument when setting spellfile, but works in regular vim"
**Describe the bug**

When setting `spellfile`, if `isfname` does not contain a period (`.`), I get `E474: Invalid argument: spf=/Users/davec/Projects/Personal/sustainable-rails/spellfile.en.utf-8.add`

This does not happen in the terminal-based vim I have installed via homebrew.

**To Reproduce**
Detailed steps to reproduce the behavior:
1. Run `vim --clean` (or `gvim --clean`, etc.)
1. `:set isf

[2020-04-29 06:12] barreyra opened #1045 "Can't change tabs when in terminal"
When entering a terminal, I can no longer change tabs using Cmd-{}, not create a new one using Cmd-T, presumably because these keys get passed on to the terminal.

[2020-05-01 10:44] xaiamov commented on #389
It seems to be a "[dead key](https://superuser.com/questions/302733/macvim-im-insert-mode)" problem.

I had difficulty with mapping the "˜" symbol (n key) and solved it with custom layout with dead keys removed as described here: https://stackoverflow.com/a/455854/4177749

[2020-05-03 02:17] gruvin commented on #977
@ychin wrote

I will never understand this line of thinking. It's an editor that has always been broken. Fix it. It's not a legacy bank transaction system. It's an editor. No one is going to lose anything if their editor suddenly starts behaving more rationally. Just fix it, for goodness sake. Why not?

Please?

[2020-05-03 02:44] gruvin commented on #977
Wish I knew enough to help more practically. Here's some more info that may help.

This bug never used to happen -- like for years, until a couple or three months ago or however long it's been.

Hopefully the following will at least show a way to reliably duplicate the issue on the dev's system.

MacVim's start-up behaviour is different from any other time a font size or family is changed. At star

[2020-05-03 23:39] s4y commented on #977
@gruvin Does this happen to you in the `stateful-render` branch?

[2020-05-03 23:48] gruvin commented on #977
@s4y I'm not set up to compile the code myself, sorry

[2020-05-06 08:10] eirnym commented on #1045
If you're talking about Apple's `Terminal.app`, it doesn't support passing Cmd key to apps. Some other terminal apps has limited support for this feature

[2020-05-06 10:12] gruvin commented on #977
This issue appears to have been fixed in MacVim Version 8.2.539 (163) which came through the automatic updatimathing, for me at around 2020-05-05 10:00 GMT.

Thanks. :-)

[2020-05-06 11:22] barreyra commented on #1045
I'm talking about the MacVim GUI. I can use those keys normally to switch between tabs in other buffers, but if the current selected buffer is a `:terminal`, it doesn't work.

[2020-05-06 18:08] eirnym commented on #1045
As far as I understand, Vim captures the input and then sends it to the terminal, which is not the same as you process a key directly. Also Vim's terminal emulator is not perfect enough to be compared to Xterm, for example.

[2020-05-08 06:59] barreyra commented on #1045
Aha, I figured out my own issue. The terminal has its own set of key-bindings. The following adds the basic tab navigation commands:

    tmap <D-t> <C-W>:tabnew<CR>
    tmap <D-}> <C-W>:tabn<CR>
    tmap <D-{> <C-W>:tabp<CR>

Now I need to figure out where these bindings are set in MacVim, then I'll send a merge request.

[2020-05-23 18:17] gorkunov commented on #796
Could someone share build here for test. I cant build it locally due to `Error 65` which should be resolved by installing Xcode - but it doesn't help me.

[2020-05-23 19:28] juliuszint commented on #796
[MacVim.app.zip](https://github.com/macvim-dev/macvim/files/4672405/MacVim.app.zip)
Configured with `./configure --enable-python3interp`. Hope this works for you.

[2020-05-24 09:53] eirnym commented on #796
Better to make it with python3 dynamic

[2020-05-27 03:11] mousesmalltail commented on #941
The problem has been solved

[2020-05-30 05:45] al3xandru opened #1048 "Error building head cb15612b9 on 10.14.6 - The following build commands failed: CompileAssetCatalog"
[code]

Error:

[code]

[2020-05-30 09:07] cridemichel opened #1049 "glyphs rendering issues"
**Describe the bug**
If I disable the option 'Use Core Text Renderer" and I set a font size larger than h18, I get vertical bars after right separators (e.g. look on the right of the following image after "5%")
<img width="1996" alt="Schermata 2020-05-30 alle 10 42 33" src="https://user-images.githubusercontent.com/15322138/83323956-479a2300-a262-11ea-9d90-504ded68c81a.png">
This is with Hack Nerd

[2020-05-30 13:54] 0xDP opened #1050 "Issues after last commit to src/MacVim/MMBackend.m"
**Describe the bug**
I have several issues with the current master:

VIM - Vi IMproved 8.2 (2019 Dec 12, compiled May 30 2020 15:13:09)
macOS version
Included patches: 1-830

At startup, at least some of the highlight commands from gvimrc are not executed. For example, I have:

	set cursorline
	set cursorlineopt=screenline
	hi CursorLine	NONE
	hi CursorLine	gui=underline	guisp=gray

but do not get

[2020-06-02 04:38] al3xandru commented on #1048
Closing this as user error :-).

[2020-06-02 04:38] #1048 closed

[2020-06-04 10:45] ichizok commented on #1010
By default, MacVim opens new window by calling `execv()` taking `SHELL` (or login shell) as argument, therefore `SHELL` should be the full path.

[2020-06-04 11:05] ichizok commented on #1050
Sorry, I could not reproduce... Please present the minimal executable example: vimrc, gvimrc, a few user input, using Core Text renderer or not.

[2020-06-04 15:32] 0xDP commented on #1050
The missing highlightings seems to be caused by my colorscheme (NeoSolarized). Strange, that worked before.

For the rendering issue:

- empty ~/.vimrc

- ~/.gvimrc with the following content (ther's a space at the end of the first line):
[code]
- start MacVim
- open `MMBackend.m`
- scroll the buffer up and down

With this minimal setup this does not happen as often as in the screenshot above, but

[2020-06-04 16:59] chdiza opened #1051 ""Ctrl" in nmaps is broken but only in the GUI"
I just built MacVim after the merge-in of 8.2.0896.

None of the following nmappings work anymore:
[code]
Those "^W" are literal ctrl-w's.  These mappings have worked for years and are now suddenly broken.

Interestingly they are not broken when I run MacVim in the console, nor are they broken upstream at the same patch level.

[2020-06-04 20:12] #1051 closed

[2020-06-05 12:23] for-coursera commented on #909
May be somehow related:

  6. But if we exit shell
  7. `:set guioptions+=!`
  8. And then enter shell again by executing `:shell` command, the cursor is visible again.

[2020-06-08 02:28] ichizok commented on #1050
Hmm.. I could not reproduce.
What your configure/build steps of MacVim?

My env and steps:
On macOS 10.13.6 / 10.15.5,
[code]
launch from
[code]
or from `./src/MacVim/build/Debug/MacVim.app` (double-click App icon),
and then input `<C-f>, <C-b>, j, and k` several times.

[2020-06-08 11:19] 0xDP commented on #1050
macOS 10.15.5, no CPPFLAGS, no LDFLAGS
[code]
I run configure and make like this
[code]
[code]
I made a screen recording where I scroll with two fingers on the trackpad of the MacBook Pro (28,6MB): [http://d--p.de/tmp/2020-06-08_MacVim.mov](url)
Test conditions as described above, empty ~/.vimrc and ~/.gvimrc with two lines (first line ends with a space):
[code]
Maybe scrolling with the trackpad m

[2020-06-08 11:22] 0xDP commented on #1050
Ups, the url got lost. [http://d--p.de/tmp/2020-06-08_MacVim.mov](http://d--p.de/tmp/2020-06-08_MacVim.mov)

[2020-06-10 02:13] ichizok commented on #1050
I could reproduce on my new Retina machine (I had only non-Retina machines until yesterday..).
Reverting `[self processInputQueue]` makes CI fail, thus I'll do it and comment-out the test as workaround, and then I'd like to consider other solution.

[2020-06-20 19:24] ruohola opened #1052 "Add something like xterm modifyOtherKeys or iTerm CSI u"
**Is your feature request about something that is currently impossible or hard to do? Please describe the problem.**
Currently we can't remap for example `<TAB>` and `<C-I>` separately, they both always do the same thing.

**Describe the solution you'd like**
Would be nice if these, and other control keys, could be mapped separately.

**Additional context**
 `<TAB>` and `<C-I>` can already be mapp

[2020-06-22 10:52] ychin commented on #1052
Yeah this would be a good idea. I can look this up but do you know if gVim also supports this on Windows/Linux?

[2020-06-22 14:17] ruohola commented on #1052
Just checked on Windows and at least the out-of-the-box gVim 8.2 does not differentiate those keys.

[2020-06-26 08:18] kazukazuinaina opened #1053 "Typing in Japanese text doubles its input"
**Describe the bug**
When typing text in Japanese, after choosing the right kanji in the dropdown menu (IME system), MacVim input the text twice. For instance, typing あああ inputs ああああああ.

BTW: The CUI Vim that I built did not reproduce this problem.

**minimum vimrc**

[code]

**To Reproduce**
Detailed steps to reproduce the behavior:
1. Run `mvim --noplugin`
3. Type Japanese and choosing the right

[2020-07-06 06:34] ychin commented on #1020
Sorry for the delay, but I just filed https://github.com/macvim-dev/macvim/pull/1055 which fixes these encoding issues as described above. Basically, it will use double-encoding by default, just like how MacVim used to work before the recent changes, but it will opportunistically support single-encoding as well to make it play nice with iTerm.

[2020-07-06 07:05] ychin commented on #1053
@kazukazuinaina what IME are you using? When I test MacVim using Japanese input I don't see this, but there are different ways to enter Japanese text so I'm trying to understand exactly the input method you are using.

[2020-07-06 09:48] hoehenunterschied opened #1057 "Crash when using :rewind"
I noticed this in the latest builds:
Starting the editor with multiple files (e.g. `vim *.txt` or `gvim *.txt`), using `:rew` after I have switched files with `:n` at least once results in a crash. The output is:

I build vim/gvim from source after pulling the latest changes via git, the latest version I observed the behaviour with is 8.2.1045.

[2020-07-06 14:32] dx7 commented on #1020
sounds great. thanks.

[2020-07-07 18:31] kazukazuinaina commented on #1053
@ychin

Thanks for your quick resopnce.
I use google IME.

However, in my environment, this problem is reproduced using the standard MacOS IME.

## reference

[2020-07-08 08:55] ychin commented on #1057
Thanks for reporting. Initial repro on my side couldn't reproduce the issue. I may ask you more info if I can't repro this or I don't see any mention of this from upstream (it seems more like a Vim issue but hard to be sure).

[2020-07-10 09:28] eirnym commented on #1012
They already changed the python to 3.8 across the Homebrew.

[2020-07-10 09:28] eirnym commented on #1012
Nevertheless, I ask you for making official builds with 2-3 major python releases when it's possible. Other languages doesn't change so much as Python nowadays. This will give an opportunity to use an official build and use Python version they want.

For Homebrew only one build will not require an additional dependency installation, so price is small.

[2020-07-12 17:41] eirnym opened #1058 "MacVim --clean consumes one argument"
**Describe the bug**
MacVim (latest master, commit d552421a21b24493ed0745980cf0bb267b021289) consumes an argument and opens 1 less windows than files (or no files when one file supplied)

This doesn't happen in terminal Vim from the same build or when `--clean` is not supplied even with an empty configuration.

**To Reproduce**
Detailed steps to reproduce the behavior:
1. Build MacVim in directory

[2020-07-12 17:50] eirnym opened #1059 "Editing multiple files from command line opens in multiple windows"
**Describe the bug**
MacVim 163 (8.2.539) shows behaviour where all files will be opened in the same window and this is an expected workflow for me
MacVim (latest master, commit d552421a21b24493ed0745980cf0bb267b021289):
1) opens all files in separate windows
2) terminal stays in the front (MacVim won't take focus)
3) `--clear` seems to take an argument for MacVim.app (issue #1058) but doesn't cha

[2020-07-12 17:51] eirnym commented on #1057
can't reproduce due to #1059

[2020-07-13 11:06] #1013 closed

[2020-07-13 12:20] stack opened #1060 "Universal Sparkle Framework required for Apple Silicon"
I have successful compiled and have been using MacVim on Apple Silicon. Everything is working properly at this point. The only change I had to make was to replace the existing Sparkle.framework with a hand compiled version that is universal.

I imagine once we get closer to release, an actual release of the Sparkle.framework will exist that is universal.

[2020-07-13 14:49] radome commented on #1012
Homebrew migration to Python 3.8 is complete: https://github.com/Homebrew/homebrew-core/issues/47274#issuecomment-656361893
Latest MacVim snapshot [163](https://github.com/macvim-dev/macvim/releases/tag/snapshot-163) which is installed by hombrew-cask seems to be pointing to Python 3.7

[2020-07-14 03:38] itsayellow commented on #1012
`:python3` in my homebrew cask installed macvim is no longer operational because it doesn't find python3.7

[code]

[2020-07-14 04:04] itsayellow commented on #1012
Maybe in the future MacVim can default to the 'Current' subdirectory instead of a hard-coded version-numbered subdirectory, like:
[code]

[2020-07-14 09:02] eirnym commented on #1012
No, it's impossible to do as I wrote above Python resigned from PEP-606 to support backward binary compatibility. So you'll have problems with Python 3.7 used in MacVim & Python 3.8/3.9 etc.

[2020-07-14 09:03] eirnym commented on #1012
this is one of problems I want to avoid

[2020-07-16 12:30] martensson commented on #1012
I am getting the same error now and unable to use Macvim after homebrew upgraded to 3.8.

[2020-07-16 18:22] Chris-Leeworthy opened #1061 "Fails to start language server"
I installed the terraform-lsp language server combined with the COC plugin.  This works fine when I am using Vim in the terminal, but gives an error when I open a terraform file from the MacVim gui.

![Screenshot 2020-07-16 at 19 06 39](https://user-images.githubusercontent.com/13499355/87706869-1b961b00-c798-11ea-9ee6-d1e842e7cdc3.png)

It feels like a file path or security context issue, but tha

[2020-07-17 07:24] ychin commented on #1012
I'll fix this in the weekend. But yes, the current way we are handling it is non-ideal.

[2020-07-17 14:18] radome commented on #1012
I've resolved with:
[code]
then
[code]

[2020-07-17 15:01] astyagun commented on #1012
Another possible workaround:

[code]

[2020-07-17 19:06] itsayellow commented on #1012
I was using that for a while but started getting weird errors, it may have been some sort of binary incompatibility as mentioned by @eirnym above.

[2020-07-17 19:11] eirnym commented on #1012
It's also possible to set pythonthreedll to `/usr/local/Cellar/python@3.7/3.7.8_1/Frameworks/Python.framework/Versions/3.7` in your .vimrc

[2020-07-17 19:24] eirnym commented on #1061
@Chris-Leeworthy, Thank you for an issue

Could you check if this language server is compatible with Vim (base) and report an issue there. MacVim is only a GUI for a base Vim.

Also when you report an issue to the [upstream](https://github.com/vim/vim), please link it here to track the progress.

[2020-07-18 17:57] Chris-Leeworthy commented on #1061
it's working just fine with Vim in the terminal,  wouldn't that indicate that the GUI is the issue rather than vim itself?

[2020-07-20 03:57] FrankDMartinez commented on #109
Sorry. I have tried following this thread but it is unclear what the solution is. Was anyone able to actually find the cause of the issue?

[2020-07-20 11:02] ychin commented on #1061
Are you using the binary released under https://github.com/macvim-dev/macvim/releases? Or manually built or Homebrew?

[2020-07-21 08:03] Chris-Leeworthy commented on #1061
I'm using the binary from  https://github.com/macvim-dev/macvim/releases

[2020-07-21 10:30] eirnym commented on #1061
COC server support was developed for NeoVim, not Vim

[2020-07-21 10:59] ichizok commented on #1061
Please check `:echo executable('terraform-lsp')` and `:echo $PATH` in GUI MacVim.

[2020-07-21 14:30] eirnym commented on #109
@FrankDMartinez Could you describe what you want to achieve and eventually open a new issue?

[2020-07-21 17:33] eirnym commented on #109
I'm asking as new issue form will ask a few important questions better to answer, also we'll be able answer it better

[2020-07-22 02:38] latortuga opened #1062 "Launching MacVim.app shows no window"
This is basically the same report as #109 and #66 except that nothing in those issues seems to work for me. I've tried lots of combinations of restarting, pref deleting, opening with sudo, etc. The symptom is exactly the same: click MacVim in the dock, app is open, no window appears. This started happening to me yesterday and I don't think it really coincides with any big changes except *perhaps*

[2020-07-22 12:59] yanncoupin commented on #991
I hoped that this would also fix issue #11 that 5 years later is still an ongoing problem and is eerily similar, but alas, no. Could the acquired knowledge fixing this also help to fix the other issue?

[2020-07-22 14:03] benknoble commented on #991
@yanncoupin Yeah, I think these are a bit different. Here, I'm talking very specifically about translation of messages/error codes/etc., which was already done in vim core--there has been some confusion on this issue, so let me re-emphasize it is _not_ about the menus, which I understand won't be translated anytime soon.

Your issue is interesting though--seems like vim relies on some functions th

[2020-07-22 19:37] eirnym commented on #991
After the latest locale changes, MacVim correctly sets locale. The locale change was disabled back in a day because of absence of macOS app menu, Vim menu and Vim help translations.

Doing Vim menu translation is very simple as menu is quite similar to GVim and we can borrow it from there. My opinion is macOS app menu and changes in help could be in English for a while and translation help is requ

[2020-07-22 23:55] mplough commented on #1062
A few questions that might help narrow things down.  These probably sound tedious but they'll help us make sure that we're talking about the same things.

First, the "have you tried turning it off and on again" question:
* What happens when you delete MacVim and install the latest [release](https://github.com/macvim-dev/macvim/releases)?  It's also possible to install MacVim from Homebrew, but let

[2020-07-23 20:31] latortuga commented on #1062
@mplough thanks so much for the detailed steps, I'll do my best to address them all.

- I have tried restarting my computer (basic turn it off and on again)
- I have tried uninstalling and installing the latest release directly downloaded from Github releases.

Aha! If I move all vim-related files out of my home directory, and **MacVim starts successfully!** I moved them back in one at a time and

[2020-07-23 20:47] latortuga commented on #1062
I isolated the plugin, it's powerline that's causing it for me. I haven't resolved why yet, but it's definitely the culprit. Thank you @mplough !

[2020-07-24 21:54] eirnym commented on #1062
@latortuga I use airline plugin for years and have no problems, you can try it as well

[2020-07-27 06:44] ychin commented on #1062
Actually @latortuga , I think your version of MacVim is quite old (8.1.2250). You may want to update to the latest version first. The plugin may work.

[2020-07-27 07:35] ychin commented on #1012
I believe @ichizok fixed this in d552421a21 already, and #1063 will make this compatible with binary install and MacPort as well. I think the issue here is the we haven't made a release yet so if you are using Homebrew Cask / official MacVim binary release you wouldn't have obtained that update that is built against 3.8 yet. I will try to make an update soon to address this.

[2020-07-27 07:38] ychin commented on #1060
Yeah I will release an Apple Silicon compatible version of MacVim in the next release. Only annoyance with Sparkle is that they don't have an official Apple Silicon compatible version right now so I will need to build it myself, which is not a big deal.

[2020-07-27 07:49] ychin commented on #1061
Brief glance does seem like it's a permission issue, but I will need to try this out and install it locally to be able to tell. If you want to debug it, you could always build MacVim GUI locally and try running or running the "MacVim_non_notarized.dmg" version from the releases page which doesn't have app hardening turned on.

[2020-07-27 08:27] ychin commented on #991
My recent change (#1036) is somewhat related but not completely. @yanncoupin I couldn't quite repro the issue, but please use another issue to track as it's not related to this.

Anyway, @benknoble, I tried the Vim bundled with macOS Catalina, and built vanilla Vim, and I couldn't get the language translation to work. Do you know if this is supposed to work on normal Vim (aka not-MacVim)? Your pro

[2020-07-27 13:24] benknoble commented on #991
@ychin yes, with the locale set as described, terminal vim gives messages in french. More details on that when I get in front of a computer.

[2020-07-27 14:12] latortuga commented on #1062
I posted in the ticket the result of `vim --version` which is command-line vim, which I believe I have installed via Homebrew. My MacVim version is 8.2.539 (163) which is the latest.

[2020-07-27 20:44] stack commented on #1060
MacVim has been working great on the DTK I have. I am having an issue with importing python modules, but this issues is also present on Intel, so it might be more of a Big Sur bug.

[2020-07-27 21:07] benknoble commented on #991
@ychin see the screenshot:

[code]

<img width="912" alt="Capture d’écran 2020-07-27 à 17 06 58" src="https://user-images.githubusercontent.com/22802209/88592235-afcf7000-d02b-11ea-83dd-5813085fab7d.png">

[2020-07-28 06:43] ychin commented on #991
Sorry but I still can't repro @benknoble . Can you show me exactly what Vim you are using (the version number doesn't seem like the one bundled with macOS. Did you build it yourself? Can you show me `:version`?) and what commands you used to trigger this?

For what it's worth, I tried using macOS Catalina's system vim and also building vanilla Vim myself (`./configure && make`). The steps I tried

[2020-07-28 07:13] ychin commented on #991
Ok I figured it out. I think you are installing Vim from Homebrew and not using system Vim. And that works because it has `gettext` set up. I can look into fixing this. Please try to point out source of Vim in the future (plus `:version` printouts) since that tends to give a lot more info.

[2020-07-28 11:15] eirnym commented on #463
@ychin probably it's fixed and the original author will not reply on this issue

@moll if you still have this issue, please, update the issue

[2020-07-28 11:16] eirnym commented on #991
Found explanation why translations are not used in MacVim: https://github.com/macvim-dev/macvim/issues/776

[2020-07-28 11:21] bmihelac commented on #463
Sorry everyone, I missed this notifications. Not able to check this as I do not use mac anymore. Probably best to close this issue.

[2020-07-28 14:52] benknoble commented on #991
@ychin yeah fair enough; thanks for taking the time on this. You'd think I would know that by now, having dealt with lots of issues on a popular vim plugin 😅

[code]

Just `vim` with locale set appropriately (`LC_ALL=fr_FR.UTF-8 vim` should do it). `vim --clean` also works.

No, I think you're correct—I think it's that homebrew vim has gettext support compiled in. The other two (`/usr/bin/vim` and

[2020-07-31 05:30] Yggdroot opened #1066 "getchar() can not detect cmd-v on MacOS"
https://github.com/vim/vim/issues/5349

[2020-07-31 12:56] robjperez commented on #1060
I'm also using MacVim in the DTK built in the machine itself. The x86 running in Rosseta2 lagged from time to time, so I decided to build it myself. As a side note, instead of replacing Sparkle with an Universal binary I just removed it from the build and everything works ok.

[2020-08-02 16:37] ApolloTang opened #1067 "gx stop open link in browser (bug return in Version 8.2.539 (163))"
**Describe the bug**
This bug is returning to current version  8.2.539 (163)
https://github.com/macvim-dev/macvim/issues/935

**To Reproduce**
Detailed steps to reproduce the behavior:
1.  place cursol on a url
2. type gx in normal mode
3. html content is open in a new buffer instead of web browser

**Expected behavior**
html content should be opened in a web browser

**Screenshots**
see: https://

[2020-08-03 10:09] ychin commented on #1058
Seems like this is a longstanding bug. Will need to take a look.

Either way, if you want to launch MacVim with `--clean`, it's probably better to use the bundled `mvim` script or use `src/MacVim/build/Release/MacVim.app/Contents/MacOS/Vim -g --clean *txt`.

[2020-08-03 10:11] ychin commented on #1053
Sorry for the delay, but have you tried using `--clean` @kazukazuinaina ? Otherwise can you show me what settings you have by showing your vimrc and results of running `defaults read org.vim.MacVim | grep MM`?

[2020-08-03 10:53] Chris-Leeworthy commented on #1061
@ichizok Thank you, this has tracked down the source of the differing behaviour.

Running `:echo executable('terraform-lsp')` in the GUI reports a `0` and when run from the terminal reports `1`

 `:echo $PATH` also reports different results depending on whether I'm in the terminal version or the GUI version.  Unsurprisingly, the path for the GUI version doesn't include the path to the terraform-ls

[2020-08-03 11:18] Chris-Leeworthy commented on #1061
Got it.

The instructions at this page explain how to fix the differing path values.  The only downside is I will have remember to manually apply the fix if I make any other changes to PATH that would affect Vim/MacVim, but I can probably write something to automate that.

https://github.com/b4winckler/macvim/wiki/Troubleshooting#for-zsh-users

Thanks to everyone for your time and attention on thi

[2020-08-03 11:18] #1061 closed

[2020-08-05 14:30] masukomi opened #1068 "Syntax highlight is lost after sleep"
**Describe the bug**

I believe this only happens with the currently visible tab, in whatever split has the cursor. If no split then the tab's current buffer.

**To Reproduce**
Put the computer to sleep. Wake the computer. Text is now all white. `set filetype=ruby` (or whatever) fixes it. Happens almost every time.

I have suspicions that this may be related to macOS moving the windows around as t

[2020-08-05 18:07] eirnym commented on #1058
Thank you @ychin

Why `MacVim` binary is not correct version to run? If it's broken somehow why it shouldn't be fixed?

`mvim` script is not useful in this case as I want to run freshly built app without touching installed. I don't need auto discovery for MacVim's location.

For general use I have my own alias pointing to `/Applications/MacVim.app/Contents/MacOS/Vim -g`

[2020-08-05 18:10] eirnym commented on #1058
Ps: `Vim -g` indeed works correctly.

Should we focus on `MacVim` binary here? For me it's a simple wrapper for `Vim` executable so I expect it works the same

[2020-08-05 18:13] eirnym commented on #1067
@ApolloTang thank you for an issue,

Please, refer to #925 and https://github.com/vim/vim/issues/4738 because this one is a full duplicate of these both

[2020-08-05 18:15] eirnym commented on #1067
Basically, plugin author changed it's behaviour a year ago and many people have problem with it since then. On one hand it's his plugin on the other hand it's bundled to vim itself, so there's no reason to open too many issues for the single problem. This won't help to solve it.

[2020-08-05 18:24] eirnym commented on #1068
Thank you for an issue @masukomi

Long while ago I had a problem with requirement to redraw text, but these times long gone as CoreText renderer is quite stable. I even still have following lines from these times:
[code]

Could you please tell which MacVim's defaults do you have by providing an output of `defaults read org.vim.MacVim | grep 'MM\|SU'`. These settings of MacVim GUI and they're not s

[2020-08-06 18:38] ApolloTang commented on #1067
close due to duplication

[2020-08-06 18:38] #1067 closed

[2020-08-09 20:19] chdiza opened #1069 "Error message that doesn't happen in Vim"
In line 7 of syntax/cfg.vim, there is a space between the function name and the left parenthesis.

In MacVim 8.2.1377, when I open a file of type `cfg` (even with `mvim --clean`), I receive the following error message:

[code]

I also get it if I run MacVim's embedded Vim inside the console.

But importantly I do not get it if I run regular console vim from Bram's repo.

[2020-08-10 08:46] ichizok commented on #1069
I confirmed this happened in also Vim (not MacVim) 8.2.1377 and fixed in 8.2.1378.

[2020-08-10 10:17] ychin commented on #1058
`MacVim` is the raw binary for the macOS app container and shouldn't need to handle command parsing. It's not the same binary as `Vim`, which is actually the Vim program. In general, the "standard" way to call macOS apps is to use `open`: `open /Applications/MacVim.app`. Otherwise, doing `/Applications/MacVim.app/Contents/MacOS/Vim -g` works.

Alternatively, you can get your familiar `gvim`, `vim`

[2020-08-10 10:17] #1058 closed

[2020-08-10 10:29] #991 closed

[2020-08-10 10:48] ychin commented on #991
This is now fixed. MacVim will now recognize locale and show localized messages.

Not all messages are localized though, as MacVim-specific messages aren't localized. If you do `:intro`, this is what you will see in French:

[code]
Note that the last sentence is not translated. (Feel free to submit PRs to fix it)

And of course menus are not localized per discussion here. I may look into that in t

[2020-08-11 01:12] kazukazuinaina commented on #1053
I am very sorry.
I tried the following steps to reproduce it clearly, but it did not reproduce.

## minimum vimrc

[code]

running `mvim --noplugin -u vimrc.mim` ( vimrc.min is the configuration shown above. )

There may be some kind of interference with the plugin.
Since I can't show you a reliable way to reproduce the problem, I'll close this problem for now.
I am very sorry.

[2020-08-11 01:12] #1053 closed

[2020-08-11 09:54] ychin commented on #1066
Per the comment in the other issue (https://github.com/vim/vim/issues/5349#issuecomment-670200900), MacVim currently hard-binds Cmd-V to a menu key, and as such you cannot use it in Vim mapping unless you unmap it from the menu. Does that work for you? Or are you asking for a way to bypass that completely?

[2020-08-11 09:57] ychin commented on #1062
Just re-opening to track this issue in case we want to look into it. I may re-close in future if it is not bothering you and we haven't diagnosed the issue.

[2020-08-11 10:02] ychin commented on #1049
Sorry for the late response, but Core Text renderer should always be on and the option is mostly there for backwards compatibility reasons. I would probably remove / deprecate option soon. Why did you unset it?

[2020-08-11 10:08] ychin commented on #1059
As discussed in #1058, `Contents/MacOS/MacVim` is not a valid entry point for MacVim for command-line usage, and no documentation points to it. This behavior also hasn't changed.

The proper way is really to use  scripts like `Contents/bin/vim` to mimic a Vim-like command-line behavior (although directly invoking `Contents/MacOS/Vim` would work as well, even though that's not the "official" way).

[2020-08-11 10:08] #1059 closed

[2020-08-11 10:09] ychin commented on #1057
@hoehenunterschied Do you have more information? Can you pull latest and build again, and see if it still crashes? If it does, can you show me the output the `mvim --version`?

[2020-08-11 17:54] cridemichel commented on #1049
Dear Yee Cheng,
I disabled the core text rendered since it is slower
and from time to time I get garbled text using it
when scrolling,

best Cristiano

Cristiano De Michele
cristiano.demichele@gmail.com

[2020-08-11 17:57] chdiza commented on #1069
It's fixed now after the latest merge from upstream.

[2020-08-11 17:57] #1069 closed

[2020-08-12 04:38] ychin commented on #1045
I think the issue is that the menu entries are not properly mapped. This will be fixed next release to have the tab menu items properly mapped in terminal mode.

[2020-08-12 05:57] #1045 closed

[2020-08-12 05:57] ychin commented on #1045
This is now fixed. @barreyra feel free to remove your own mappings once the new version (164) is out soon. MacVim will do the right thing.

[2020-08-13 06:18] ychin commented on #1053
Hmm ok. If you know which plugin, and they find out it's a MacVim issue feel free to re-open the issue.

[2020-08-13 09:50] ychin commented on #776
Just an update, per #991, Vim's own translations are now used. But menus are still using the English version only.

[2020-08-13 10:01] ychin commented on #1012
Closing as version 164 is out.

[2020-08-13 10:01] #1012 closed

[2020-08-13 11:37] stona1 commented on #1062
Today I updated on my two Mac's (Catalina 10.15.6) MacVim to version 8.2.1424 and on both shows no window after start. I did:
- removed all plugins from my .vim folder
- removed .vimrc file
- removed MacVim and installed it again (from https://github.com/macvim-dev/macvim/releases)
- .gvimrc file does not exist in my system
- which vim shows: /usr/bin/vim
Nothing solved my problem, still now windo

[2020-08-13 11:46] ychin commented on #1062
Hmm @stona1 is this a new issue for you? As in you updated from old to new (version 164) and it went from working fine to broken?

What does `defaults read org.vim.MacVim | grep MM` show?

[2020-08-13 11:55] stona1 commented on #1062
Hi ychin,
Yes, it is completely new issue for me. I have never had it before. I was using MacVim even today without aby problem. 20 minus ago MacVim show update availability and my problem begins :)
Command defaults read org.vim.MacVim | grep MM shows:
    MMAppearanceModeSelection = 2;
    MMAutosaveColumns = 142;
    MMAutosaveRows = 42;
    MMCurrentPreferencePane = General;
    MMLastWindowClo

[2020-08-13 12:14] ychin commented on #1062
Huh that's not good. I'll revoke the current build for now while I figure this out.

[2020-08-13 12:14] ychin commented on #1062
Also, if you have Homebrew, you can do `brew install gettext` to work around the issue as well.

[2020-08-13 12:18] stona1 commented on #1062
I am sorry I am not using Homebrew. Is any other way to work around this issue?
When new build will be available?

[2020-08-13 12:21] ychin commented on #1062
You can work around this by downloading 163 manually from https://github.com/macvim-dev/macvim/releases. I will need to figure out how to work around the issue before I can release 165, so I don't know when yet. Probably a couple days.

[2020-08-13 12:27] ychin commented on #1062
Btw just to confirm, you downloaded the new version using the built-in updater right?

[2020-08-13 12:30] stona1 commented on #1062
Yes, exactly.

[2020-08-13 12:56] ekortright opened #1073 "MacVim stopped working after update to v. 8.2.1424 (gettext)"
After updating to 8.2.1424 (164), MacVim stopped working.  The program runs, but no window is displayed.

When trying to run from the command line, this is what I see:

<pre>$ mvim
dyld: Library not loaded: /usr/local/opt/gettext/lib/libintl.8.dylib
  Referenced from: /Users/me/Applications/MacVim.app/Contents/MacOS/Vim
  Reason: image not found
Abort trap: 6</pre>

Until now, I have been using Ma

[2020-08-13 14:04] mvilain commented on #1073
I'm seeing different error on 10.13.6:

$ mvim
dyld: Library not loaded: /usr/local/opt/gettext/lib/libintl.8.dylib
  Referenced from: /Applications/MacVim.app/Contents/MacOS/Vim
  Reason: Incompatible library version: Vim requires version 11.0.0 or later, but libintl.8.dylib provides version 10.0.0
Abort trap: 6

[2020-08-13 14:32] ychin commented on #1073
There was an issue with the latest release with how the linkage is done and I’ll work to fix it in the next couple days. For now please use 163. I believe I should have reverted the updater to point to 163. Is that not the case?

[2020-08-13 15:37] ekortright commented on #1073
I just followed the prompts from MacVim and it installed 164.

[2020-08-13 15:54] ychin commented on #1073
Right. I think there was roughly 2-3 hours where this slipped through before someone filed the issue and I reverted the version bump so I would need to confirm that’s the case. Sorry about that.

[2020-08-13 17:11] ychin commented on #1062
I'm going to use #1073 to track the linkage issue that broke 164, since this ticket was for something else. Also, thanks for reporting so quickly! The bad build was only out for 2 hours which hopefully minimized the damage somewhat.

[2020-08-13 17:33] stona1 commented on #1062
OK, I will watch #1073
Glad to be helpful.

[2020-08-13 19:47] masukomi commented on #1068
haven't forgotten.... just haven't gotten around to testing yet. will do so.

[2020-08-14 13:36] masukomi commented on #1068
I'm happy & sad to report that it's likely one of the plugins.  after running  `mvim --clean` with a typical (for me) set of tabs and splits I tried lots of sleeps and unplugging monitors and replugging monitors during sleep, during wake, etc... couldn't make it loose syntax highlight.  Sorry i didn't think to try that before it seemed like a thing that "must" be from MacVim itself but... duh, obv

[2020-08-15 08:47] #1073 closed

[2020-08-15 08:48] ychin commented on #1073
This should be fixed. Snapshot 165 should be out soon, and i added a check to make sure a similar problem (external library linkage) won't show up again.

[2020-08-15 22:06] ychin commented on #1073
The release should now be out. Please re-open the issue if it still doesn't work.

https://github.com/macvim-dev/macvim/releases/tag/snapshot-165

[2020-08-15 23:12] ychin commented on #1062
I'm closing this ticket for now. If you run into this again, @latortuga , it's likely that MacVim is crashing. You could launch it from the console using the `mvim` command to get some extra printouts, or use `Console.app` to help look at application logs (just search for "MacVim" to filter down).

[2020-08-15 23:12] #1062 closed

[2020-08-15 23:20] ychin commented on #1068
I think this is related to #634. Basically, Vim has an option (`:help redrawtime`) that puts an upper-cap on how much time syntax files can run before it just stops it and don't display syntax highlighting. This could happen if you have a large file, for example (see that linked issue).

Do you know if this is specific to MacVim or just Vim? For example, if you open the same file in terminal Vim (

[2020-08-16 06:47] barreyra commented on #1045
Thank you, it works great. Cmd-w and Cmd-b are still missing, I'll post a patch if no one else does.

[2020-08-16 11:37] ychin commented on #1045
I'm not sure if Cmd-W would work. It's mapped to `:conf q` which I don't think works inside terminal mode. I could see Cmd-B though.

[2020-08-16 13:34] RStankov commented on #1003
I have the same issue. The fix was to add to my `vimrc`:

[code]

[2020-08-17 06:57] Yggdroot commented on #1066
I don't know how to  unmap it from the menu. It would be preferred if there is a way  to bypass that completely.

[2020-08-17 07:41] ychin commented on #1066
You can look up the documentation by doing `:help macmenu`, under example 4:

[code]

You will need to do this for each menu item you care to unmap for.

[2020-08-17 07:42] ychin commented on #1003
What version are you using @RStankov ? If you are using the latest version (165), you should use 3.8 instead. MacVim will automatically use the right python DLLs if that's the case.

[2020-08-17 08:44] krishan opened #1078 "Switching to fullscreen looses window focus, if title bar "hidden""
**Describe the bug**
Switching to fullscreen looses the window focus, if the title bar is set to "hidden".

**To Reproduce**
1) In preferences, set the titlebar appearance to "hidden"
2) Switch to fullscreen, e.g. using the key shortcut

**Expected behavior**
Vim goes fullscreen and should have focus, e.g. it should react to me typing.

**Actual behavior**
Vim goes fullscreen, but no longer has fo

[2020-08-17 10:47] RStankov commented on #1003
I'm on latest `165`, this was the Python, I had 🤷‍♂️

Will download 3.8 to see if this will be needed. Thanks :)

[2020-08-17 22:12] ychin commented on #1078
Reproduced the bug. Will try to get it fixed by next release. The feature was mostly a hidden half-supported feature before, so testing done on it was a little less than the other normal modes.

[2020-08-17 22:18] ychin commented on #1003
Yeah the way Vim works with Python / other scripting languages is by linking against specific libraries. You could technically provide Python 3.7 to Vim by doing what you did in https://github.com/macvim-dev/macvim/issues/1003#issuecomment-674527401 by modifying `pythonthreedll`, but it could lead to subtle bugs as the API could have changed in small ways, and as such it's ideal to use the same Py

[2020-08-18 06:18] RStankov commented on #1003
@ychin  tanks for clarification.

[2020-08-18 09:22] gaofn opened #1079 "python3 fatal error after recent update of Macvim"
**Describe the bug**
After the most recent update of MacVim, it stops working with tex files.

**To Reproduce**
Detailed steps to reproduce the behavior:
1. Upgrade to the most recent MacVim release (165)
2. type "mvim foo.tex"

**Expected behavior**
MacVim starts with foo.tex being edited.  Instead, MacVim does not start with the following error message
[code]
Everything was fine until MacVim was

[2020-08-18 11:40] ekortright commented on #1073
Works!  Thanks.

[2020-08-18 17:02] paullric opened #1080 "Multiple instances of "Tile Window to Left of Screen" on Catalina 10.15.6"
Window menu contains multiple instances of "Tile Window to Left of Screen" and "Tile Window to Right of Screen" when running mvim from command line.  The number of instances of these menu items appears to be proportional to the number of mvim instances that are created after that window has been opened.

Version information:
(base) MacBook-Pro:~ paullric$ mvim --version
VIM - Vi IMproved 8.2 (2019

[2020-08-20 02:28] ychin commented on #1080
Thanks for reporting. Duplicate of #992. Please use that for tracking.

[2020-08-20 02:28] #1080 closed

[2020-08-20 05:32] ychin commented on #1079
Seems like a Python 3.8 issue. Is vim latex suite a Python-based plugin?

Can you type `locale` in terminal and see what it shows? Ideally it should say UTF-8 in it. For example, it should say "en_US.UTF-8" instead of "en_US". You can always set `LANG=en_US.UTF-8` before launching `mvim` from terminal.

Also, you said if you do `vim foo.tex`, it works. This is just the system-provided Vim right?

[2020-08-21 01:46] gaofn commented on #1079
Yes, vim latex suite is python-based.

My locale is correct.
[code]

Yes.
[code]

[2020-08-24 06:47] ychin commented on #1079
Hm, I still think this is probably some Python locale configuration issue that you could fix on your end. I don't think system Vim is built with Python3, so it's likely that if you used system Vim you wouldn't even run into the code path as MacVim (which is built with Python2/3). Here are some suggestions:

1. Launch `mvim` and type `:language` and see what it says.
2. See what `:set pythonthreedl

[2020-08-25 03:08] gaofn commented on #1079
It says
`Current language: "en_US/en_US/en_US/C/en_US/en_US"`
This is the same as in my system vim.

` pythonthreedll=/usr/local/Frameworks/Python.framework/Versions/3.7/Python`

No, neither works.  Same error message as before.

[2020-08-25 03:28] ychin commented on #1079
Yeah this makes sense. `lang` needs to say `en_US.UTF-8`, not just `en_US`. If you search for the error message you will see the relevant discussions. I think it's a Python 3.8 thing.

Given that your local locale is current in the terminal (when you typed `locale`), I think some of your configs is setting `lang` to the non-UTF-8 version. When you launch Vim from terminal (`mvim` or `vim`) it's su

[2020-08-25 04:07] gaofn commented on #1079
Yes, you are right.  I did find that in my `.vimrc` file, a line sets the `lang` to en_US.  Removing the line gives the correct `lang`.

[2020-08-25 07:05] ychin commented on #1079
I think the reason is that Python 3.8 introduced the behavior changes, which MacVim has upgrade to. Does seem suboptimal to me to have a breaking behavior like that but probably should take it up to Python dev.

[2020-08-25 07:05] #1079 closed

[2020-08-26 01:05] edouardp opened #1081 "text area transparency and titlebar transparency don't mix well"
**Issue**
The new `MMTitlebarAppearsTransparent` setting doesn't mix well with the `set transparency=<non-zero>` setting

`MMTitlebarAppearsTransparent=true` with `set transparency=0`
![t-off-0](https://user-images.githubusercontent.com/1380902/91242593-f8e62180-e79b-11ea-8673-c3bfe41ebaa8.png)
`MMTitlebarAppearsTransparent=true` with `set transparency=<non-zero>`
![t-off-20](https://user-images.g

[2020-08-26 02:54] ychin commented on #1049
Ok. @cridemichel I think at this point you should probably consider non-Core Text path deprecated, and my current plan is to start deprecating it and merging the stateful renderer by next release.

[2020-08-27 08:19] cridemichel commented on #1049
ok
best C.

Cristiano De Michele
cristiano.demichele@gmail.com

[2020-08-28 18:41] eirnym commented on #1079
Python uses `nl_langinfo` from `glibc` library which returns nothing in this case. The problem was introduced 2 years ago in https://github.com/python/cpython/commit/dfe0dc74536dfb6f331131d9b2b49557675bb6b7 I think it's worth a while to raise a ticket there.

[2020-08-29 12:32] eastoncaleb opened #1082 "RE: Issue with ctrlp since updating"
Since updating to the newest release I've had issues with using ctrlp- I've attached a screenshot for reference. I downgraded back to 8.2.539 and the issue goes away.

<img width="1426" alt="Screen Shot 2020-08-27 at 11 28 29 AM" src="https://user-images.githubusercontent.com/37001399/91636871-07b61980-e9d2-11ea-8d06-5138decc8e07.png">

Any ideas what could be causing it only with the new release?

[2020-08-29 23:47] #977 closed

[2020-08-30 11:11] ychin commented on #1082
Hmm, I can't seem to repro it. What version of CtrlP are you running? (That said, they haven't updated in a while)

Also, maybe try to run with an empty vimrc and no other plugins and see? I wonder if there are other bad interactions going on here.

[2020-09-07 07:13] dirkroorda commented on #1082
I have something similar with vimgrep and I reverted back to 163. I get the binary releases from here (normally through the update function of macvim, but for downgrading I pick a release from here.
What happens is that I loose the window if there are results of a vimgrep action. If there are no results, the behaviour is good. So I suspect that the mechanism that shows the results is broken in 165

[2020-09-07 08:36] dirkroorda commented on #1082
Got it: a minimal example is this:

Use MacVim 165.

.vimrc only contains

[code]

Create a file `test` in your homedirectory with the contents:

[code]

Restart MacVim and give the command:

[code]

The vim window utterly disappears. This is wrong behaviour.

Restart MacVim and give the command

[code]

You get a "no match" message flash in the status line. This is right behaviour.

If you omit t

[2020-09-07 22:20] ychin commented on #1082
Thanks for the detailed repro @dirkroorda but I think that's a different issue? Seems unrelated to CtrlP. What you are seeing is that Vim is actually crashing.

Looked into the `vimgrep` issue and I think it's an upstream bug. It was introduced in v8.2.1384 (8ce4b7ed85a7c6499bea5eb1312c85ee7a00e364) and fixed in v8.2.1557 (997cd1a17f030d004b334d17cf1c1c57050c9906).

MacVim is at v8.2.1456 so it's

[2020-09-08 02:27] AbePralle opened #1083 "8.2.1456 - shift+o broken when used on top line that wraps to multiple screen lines"
**Describe the bug**
SHIFT+O does not work properly when used on the top line of the buffer and the top line wraps to occupy two or more screen lines. It clears the top screen line instead of shifting it down. Undo does not work properly after that command.

**To Reproduce**
Detailed steps to reproduce the behavior:
1. Run `mvim --clean`
2. Type in any placeholder text to make the top line occupy

[2020-09-08 03:53] ychin commented on #1083
I think this is fixed upstream in v8.2.1488 (9dc1917f42b23277e143fc58bbe27482b0b76bad). Will be fixed next release in release 166.

[2020-09-08 03:53] #1083 closed

[2020-09-14 09:43] ychin commented on #997
I was working on TouchBar stuff and remembered this issue. @mathsaey I didn't think about this back then, but if you want to put the fullscreen TouchBar button on the right you just need the following in your `vimrc`. No need to turn off the button really:

[code]

[2020-09-14 09:51] #1078 closed

[2020-09-14 09:56] ychin commented on #156
I can't seem to repro this on latest OS versions. Closing non-native fullscreen window seem to just return focus back to the other window. Closing this issue for now as it's very old, but feel free to re-open @chdiza  if you still encounter this issue.

[2020-09-14 09:56] #156 closed

[2020-09-17 07:16] hlilje opened #1090 "system() call throws error on macOS when MacVim is launched by another process (SmartGit)"
**Describe the bug**
(Originally [reported](https://github.com/vim/vim/issues/6184) to the main Vim repo.)

I'm having issues using MacVim as a difftool via SmartGit on macOS. When MacVim is launched by SmartGit for comparing files, the `system()` call used by various plugins stops working. Instead, an error message is output saying:

[code]

for example when I tried it with `--clean` just now:

[

[2020-09-17 13:04] CGamesPlay opened #1091 "macvim-askpass opens in Finder"
The macvim-askpass script isn't playing nicely on my system. The password prompt is being opened in Finder, instead of MacVim, and isn't brought to the front when it happens. The end result is I see a window open underneath my semi-transparent MacVim, don't even know what App it's a part of, and when I use expose, I can't even see the window, so it's very confusing 🙂

It appears that the program i

[2020-09-18 09:31] ychin commented on #1091
Yeah that looks good. Thanks for the contribution. Quick Google search seems to show at least a couple versions of ssh-askpass for macOS that… basically do the same thing. I guess people want this, and Apple never provided an official one.

[2020-09-18 09:32] ychin commented on #1091
It also makes the permission dialog box less scary as previously it would have MacVim requesting permission to control Finder which is a little sketchy.

[2020-09-19 03:29] #1091 closed

[2020-09-20 12:35] #566 closed

[2020-09-20 12:35] #992 closed

[2020-09-20 15:07] slonik-az opened #1094 "long standing 'gx' bug fixed upstream. Please, rerelease MacVim"
Vim upstream just updated netrw to version v170
https://github.com/vim/vim/commit/1d59aa1fdfb191d9872ff87eb94652acd374b293#diff-3abb9629535900f0c07a312231e18483R4

It suppose to fix long standing bug of broken `gx` key binding (netrw), reported in
https://github.com/vim/vim/issues/4738

Please, rerelease  MacVim

Thanks,
--Leo

[2020-09-20 20:57] ychin commented on #1094
It's going to be released in a couple days, but I'll make sure this change is included.

[2020-09-20 21:22] ychin commented on #1094
Actually I don't think this is fixed? Tried it on latest Vim and doesn't seem like it to me. Did anyone actually confirm this?

Tbh at this point I think it's just easiest if someone makes a plugin just to do this than to rely on netrw. Just my 2c.

[2020-09-21 05:35] ychin commented on #969
I'm closing this issue because Core Text Renderer should be on at all times. The non-CTR option is essentially deprecated (future versions' UI will make that clear). We should just focus on making the main renderer better instead of supporting a deprecated legacy renderer.

[2020-09-21 05:35] #969 closed

[2020-09-21 08:01] ychin commented on #1044
I checked upstream Vim and this seems to happen as well, and I'm not sure if this is a bug. @davetron5000 since it's been a while, can you just try Homebrew Vim again and post the version? It's likely you see this in MacVim and not Homebrew Vim just because of different versions.

But since this seems to happen in latest Terminal Vim as well I think you may want to file this with Vim.

[2020-09-21 13:34] slonik-az commented on #1094
@k-takata claims it is fixed in netrw v170 and he closed the corresponding  issue https://github.com/vim/vim/issues/4738 based on this assertion.

[2020-09-21 21:22] xdhmoore commented on #1094
It does not work for me after upgrading to MacVim 8.2.1719. In a buffer with the following:

[code]
If I press `gx` over the url it closes the buffer, and opens an unrelated file from my history, then displays a netrw error on top of line 2 of the new buffer. I've reproduced this 3 times or so:

<img width="1046" alt="Screen Shot 2020-09-21 at 2 16 11 PM" src="https://user-images.githubusercontent

[2020-09-21 21:39] ychin commented on #1094
Since we have determined that upstream didn't fix this, I'm just going to close this as dup of #925, which is in the backlog already.

[2020-09-21 21:39] #1094 closed

[2020-09-22 16:56] schveiguy commented on #102
I'd like to see this behavior for 2 specific cases: When macvim wants to upgrade, and when Macos needs to upgrade. I frequently put these off because I have 6 macvim windows open, each split with 2-5 buffers. I don't want to have to reopen all my buffers and window configuration just to upgrade (I don't care much about desktop position, just that the same buffers get reopened, and they are positio

[2020-09-22 17:44] ychin commented on #102
We don't need to close this issue and it's fine to have feature requests remain open. However, there are some nuances to consider for implementation, so it may not be implemented in near future.

First, it's important to note that MacVim is a port of Vim, so it can mostly only do what Vim can do, unless we fork and add new functionality. Vim sessions is Vim's native way to handle this but because

[2020-09-22 22:53] schveiguy commented on #102
Yeah, I have been using vim for decades, so I have some experience with editing config files. The problem is, this is really not a vim thing but a Mac thing. Since switching to mac, I have come to fully expect all the apps I work with to just restart properly when I start back up. If sessions can be used to implement this, great! But I really think it would be more in-line with most Mac software t

[2020-09-23 02:10] ychin commented on #102
I mean, it's totally a Vim thing. In order to preserve Vim's state we necessarily need some mechanism to do so, which is sessions in Vim (it supports more than per-window states). I'll probably get to this but I'm not a big fan of half-measures built on top of Vim because eventually it's not going to work in some cases, and some users are going to want to extend it or get confused by the behavior.

[2020-09-23 04:07] schveiguy commented on #102
Sorry, I mean the use case is based on the expectation of what a typical Mac app does. How it does it, sure, use vim sessions. I'm also OK if it does its own thing differently. But as a user, it doesn't matter how it gets done, it just should do what normal Mac apps do. I hope you can see where I'm coming from.

Like when I look at chrome settings for example, it has an "On Startup" section, and s

[2020-09-23 05:13] ychin commented on #102
I see where you are coming from and I understand the desire, but I'm just pointing out that MacVim is downstream of Vim, so the capabilities of it necessarily come from Vim itself. Preserving states is a bit more complicated than opening an untitled window that lives outside of Vim. I'm pointing out the difficulty in having a correct implementation, not whether this is a feature users want.

[2020-09-23 13:43] schveiguy commented on #102
Sorry for one further note: I'm reading more about vim sessions, and it appears that this is going to be something that happens individually for each window, which doesn't help in my case as I have multiple windows open when I want to reboot/upgrade.

If MacVim could do the following, it would leave its hands clean and rely on vim and the user config to do the "right thing" for sessions, but still

[2020-09-23 15:29] denisw commented on #11
I reported this as https://github.com/vim/vim/issues/7003. However, the bug might still be MacVim-specific.

Vim tries to guard against this issue by running `setlocale(LC_NUMERIC, "C")` at startup, which is supposed to make float parsing independent of the system locale. This works fine when running (Mac)Vim from the terminal, but apparently not if MacVim is run from Finder.

[2020-09-23 17:12] denisw commented on #11
Bram Moolenaar wrote this in https://github.com/vim/vim/issues/7003:

[2020-09-24 09:59] ychin commented on #102
Yeah that's basically what I was thinking regarding sessions, and would likely be how it's implemented. It probably won't get implemented in near future but may come in a later update.

[2020-09-25 07:43] ychin commented on #11
Fixed upstream in https://github.com/vim/vim/commit/509f8031b2b347c033327ef33f3e5573a0595dbc

[2020-09-26 13:09] mmroczka opened #1097 "Dot command to repeatedly click the same area more than once"
**Is your feature request about something that is currently impossible or hard to do? Please describe the problem.**
It is difficult to click the same thing more than once when using MacVim. I occasionally am in my calendar, for instance, and I want to adjust the date on an event by a couple of days forward. I'd normally click the big "+add day" button a few times, but with MacVim, I click it once

[2020-09-27 03:06] ychin commented on #1097
Sorry @mmroczka I'm not sure I'm understanding this issue. What do you mean by "my cursor no longer stays there". Also not quite sure are you talking about using a mouse, or keyboard (since you referred to dot command). I'm also not sure what you meant by "cursor being restored". We are talking about the cursor showing where you are typing right?

If you have screenshots/videos with the relevant p

[2020-09-27 09:00] benwainwright opened #1098 "Ligatures are not working"
**Describe the bug**
Ligatures do not work!

![image](https://user-images.githubusercontent.com/3321885/94360786-f67f2c00-00a7-11eb-9c81-de5b67e009c1.png)

As you can see in the above image, the arrow should be a ligature.

I've got core text renderer turned on:

![image](https://user-images.githubusercontent.com/3321885/94360812-19a9db80-00a8-11eb-8a5f-80ccd408cde7.png)

and I also have `set macl